wsdls/wsdl/provider/20100930/HI_ProviderReadProviderOrganisationInterface-3.2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
===========================================================================
@File:          HI_ProviderReadProviderOrganisationInterface-3.2.0.wsdl
@Author:        Medicare Australia
@Version:       3.2.0
@CreatedDate:   2010/09/30
@Release:       3.2.0
@Description:   TECH.SIS.HI.16
===========================================================================
-->
<wsdl:definitions
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
    xmlns:pce="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
    xmlns:pwmi="http://ns.electronichealth.net.au/hi/xsd/providermessages/ReadOrganisation/3.2.0"
    xmlns:tns="http://ns.electronichealth.net.au/hi/svc/ProviderReadProviderOrganisation/3.2.0"
    targetNamespace="http://ns.electronichealth.net.au/hi/svc/ProviderReadProviderOrganisation/3.2.0"
    name="ProviderReadProviderOrganisation">
    <wsdl:types>
        <xsd:schema
            targetNamespace="http://ns.electronichealth.net.au/hi/svc/ProviderReadProviderOrganisation/3.2.0"
            elementFormDefault="qualified">
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
                schemaLocation="../../../schema/mca/common/20100731/CommonCoreElements.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
                schemaLocation="../../../schema/mca/provider/core/20100930/ProviderCoreElements.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providermessages/ReadOrganisation/3.2.0"
                schemaLocation="../../../schema/mca/provider/messages/20100930/ReadProviderOrganisationMessages.xsd" />
            <xsd:element
                name="readProviderOrganisation">
                <xsd:annotation>
                    <xsd:documentation> Read Provider Organisation Request
                        element</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            ref="pwmi:hpioNumber"/>
                        <xsd:element
                            ref="pwmi:linkSearchType"
                            minOccurs="0" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element
                name="readProviderOrganisationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            ref="pwmi:readProviderOrganisationResult" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message
        name="readProviderOrganisationInMsg">
        <wsdl:part name="request" element="tns:readProviderOrganisation" />
        <wsdl:part name="productHeader" element="cce:product" />
        <wsdl:part name="timestampHeader" element="cce:timestamp" />
        <wsdl:part name="signatureHeader" element="cce:signature" />
        <wsdl:part name="userHeader" element="cce:user" />
        <!--	hpio: Backward compatible change, added June 2011 release for CSPs. -->	
		<wsdl:part name="hpioHeader" element="cce:hpio"/>
    </wsdl:message>
    <wsdl:message
        name="readProviderOrganisationOutMsg">
        <wsdl:part
            name="response"
            element="tns:readProviderOrganisationResponse" />
        <wsdl:part
            name="productHeader"
            element="cce:product" />
        <wsdl:part
            name="signatureHeader"
            element="cce:signature" />
    </wsdl:message>
    <wsdl:message
        name="standardErrorMsg">
        <wsdl:part
            name="fault"
            element="cce:serviceMessages" />
    </wsdl:message>
    <wsdl:portType
        name="ProviderReadProviderOrganisationPortType">
        <wsdl:operation
            name="readProviderOrganisation">
            <wsdl:input
                message="tns:readProviderOrganisationInMsg"
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ProviderReadProviderOrganisation/3.2.0/ProviderReadProviderOrganisationPortType/readProviderOrganisationRequest" />
            <wsdl:output
                message="tns:readProviderOrganisationOutMsg"
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ProviderReadProviderOrganisation/3.2.0/ProviderReadProviderOrganisationPortType/readProviderOrganisationResponse" />
            <wsdl:fault
                name="standardError"
                message="tns:standardErrorMsg"
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ProviderReadProviderOrganisation/3.2.0/ProviderReadProviderOrganisationPortType/readProviderOrganisation/Fault/standardError" />
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>