wsdls/wsdl/provider/20100930/HI_ProviderManageProviderOrganisationInterface-3.2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
===========================================================================
@File:          HI_ProviderManageProviderOrganisationInterface-3.2.0.wsdl
@Author:        Medicare Australia
@Version:       3.2.0
@CreatedDate:   2010/09/30
@Release:       3.2.0
@Description:   TECH.SIS.HI.14
===========================================================================
-->
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:pce="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
    xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
    xmlns:pon="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationName/3.2.0"
    xmlns:pod="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationDetails/3.2.0"
    xmlns:pad="http://ns.electronichealth.net.au/hi/xsd/providercore/Address/3.2.0"
    xmlns:pec="http://ns.electronichealth.net.au/hi/xsd/providercore/ElectronicCommunication/3.2.0"
    xmlns:pct="http://ns.electronichealth.net.au/hi/xsd/providercore/Certificate/3.2.0"
    xmlns:pos="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationService/3.2.0"
    xmlns:pep="http://ns.electronichealth.net.au/hi/xsd/providercore/EndPoint/3.2.0"
    xmlns:plk="http://ns.electronichealth.net.au/hi/xsd/providercore/Link/3.2.0"
    xmlns:pst="http://ns.electronichealth.net.au/hi/xsd/providercore/Status/3.2.0"
    xmlns:pwmi="http://ns.electronichealth.net.au/hi/xsd/providermessages/ManageProviderOrganisation/3.2.0"
    xmlns:tns="http://ns.electronichealth.net.au/hi/svc/ProviderManageProviderOrganisation/3.2.0"
    targetNamespace="http://ns.electronichealth.net.au/hi/svc/ProviderManageProviderOrganisation/3.2.0"
    name="ProviderManageProviderOrganisation">
    <wsdl:types>
        <xsd:schema
            targetNamespace="http://ns.electronichealth.net.au/hi/svc/ProviderManageProviderOrganisation/3.2.0"
            elementFormDefault="qualified">
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
                schemaLocation="../../../schema/mca/common/20100731/CommonCoreElements.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
                schemaLocation="../../../schema/mca/provider/core/20100930/ProviderCoreElements.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Address/3.2.0"
                schemaLocation="../../../schema/mca/provider/core/20100930/Address.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/ElectronicCommunication/3.2.0"
                schemaLocation="../../../schema/mca/provider/core/20100930/ElectronicCommunication.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Certificate/3.2.0"
                schemaLocation="../../../schema/mca/provider/core/20100930/Certificate.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationName/3.2.0"
                schemaLocation="../../../schema/mca/provider/core/20100930/OrganisationName.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationDetails/3.2.0"
                schemaLocation="../../../schema/mca/provider/core/20100930/OrganisationDetails.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationService/3.2.0"
                schemaLocation="../../../schema/mca/provider/core/20100930/OrganisationService.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/EndPoint/3.2.0"
                schemaLocation="../../../schema/mca/provider/core/20100930/Endpoint.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Link/3.2.0"
                schemaLocation="../../../schema/mca/provider/core/20100930/Link.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Status/3.2.0"
                schemaLocation="../../../schema/mca/provider/core/20100930/Status.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providermessages/ManageProviderOrganisation/3.2.0"
                schemaLocation="../../../schema/mca/provider/messages/20100930/ManageProviderOrganisationMessages.xsd" />
            <xsd:element name="manageProviderOrganisation">
                <xsd:annotation>
                    <xsd:documentation> Manage Provider/Administrative
                        Organisation Request element</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element 
                            ref="pwmi:hpioNumber" 
                            minOccurs="0" />
                        <xsd:element ref="pst:status" minOccurs="0" />
                        <xsd:element ref="pod:organisationDetails"
                            minOccurs="0" />
                        <xsd:element ref="pon:organisationNameRecord"
                            minOccurs="0" maxOccurs="unbounded" />
                        <xsd:element ref="pos:organisationServiceRecord"
                            minOccurs="0" maxOccurs="unbounded" />
                        <xsd:element ref="pad:addressRecord"
                            minOccurs="0" maxOccurs="unbounded" />
                        <xsd:element ref="pec:electronicCommunicationRecord"
                            minOccurs="0" maxOccurs="unbounded" />
                        <xsd:element ref="pep:endpointLocatorServiceRecord"
                            minOccurs="0" maxOccurs="unbounded" />
                        <xsd:element ref="plk:linkDetails"
                            minOccurs="0" maxOccurs="unbounded" />
                        <xsd:element ref="pct:certificate"
                            minOccurs="0" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="manageProviderOrganisationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="pwmi:manageProviderOrganisationResult" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="manageProviderOrganisationInMsg">
        <wsdl:part name="request" element="tns:manageProviderOrganisation" />
        <wsdl:part name="productHeader" element="cce:product" />
        <wsdl:part name="timestampHeader" element="cce:timestamp" />
        <wsdl:part name="signatureHeader" element="cce:signature" />
        <wsdl:part name="userHeader" element="cce:user" />
         <!--	hpio: Backward compatible change, added June 2011 release for CSPs. -->	
		<wsdl:part name="hpioHeader" element="cce:hpio"/>
    </wsdl:message>
    <wsdl:message name="manageProviderOrganisationOutMsg">
        <wsdl:part name="response" element="tns:manageProviderOrganisationResponse" />
        <wsdl:part name="productHeader" element="cce:product" />
        <wsdl:part name="signatureHeader" element="cce:signature" />
    </wsdl:message>
    <wsdl:message name="standardErrorMsg">
        <wsdl:part name="fault" element="cce:serviceMessages" />
    </wsdl:message>
    <wsdl:portType name="ProviderManageProviderOrganisationPortType">
        <wsdl:operation name="manageProviderOrganisation">
            <wsdl:input message="tns:manageProviderOrganisationInMsg"
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ProviderManageProviderOrganisation/3.2.0/ProviderManageProviderOrganisationPortType/manageProviderOrganisationRequest" />
            <wsdl:output message="tns:manageProviderOrganisationOutMsg"
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ProviderManageProviderOrganisation/3.2.0/ProviderManageProviderOrganisationPortType/manageProviderOrganisationResponse" />
            <wsdl:fault name="standardError" message="tns:standardErrorMsg"
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ProviderManageProviderOrganisation/3.2.0/ProviderManageProviderOrganisationPortType/manageProviderOrganisation/Fault/standardError" />
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>