wsdls/wsdl/provider/20100930/HI_ProviderReadProviderAdministrativeIndividualInterface-3.2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
===========================================================================
@File:          HI_ProviderReadProviderAdministrativeIndividualInterface-3.2.0.wsdl
@Author:        Medicare Australia
@Version:       3.2.0
@CreatedDate:   2010/09/30
@Release:       3.2.0
@Description:   TECH.SIS.HI.15
===========================================================================
-->
<wsdl:definitions
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
    xmlns:pwmi="http://ns.electronichealth.net.au/hi/xsd/providermessages/ReadIndividual/3.2.0"
    xmlns:tns="http://ns.electronichealth.net.au/hi/svc/ProviderReadProviderAdministrativeIndividual/3.2.0"
    targetNamespace="http://ns.electronichealth.net.au/hi/svc/ProviderReadProviderAdministrativeIndividual/3.2.0"
    name="ProviderReadProviderAdministrativeIndividual">
    <wsdl:types>
        <xsd:schema
            targetNamespace="http://ns.electronichealth.net.au/hi/svc/ProviderReadProviderAdministrativeIndividual/3.2.0"
            elementFormDefault="qualified">
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
                schemaLocation="../../../schema/mca/common/20100731/CommonCoreElements.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
                schemaLocation="../../../schema/mca/provider/core/20100930/ProviderCoreElements.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providermessages/ReadIndividual/3.2.0"
                schemaLocation="../../../schema/mca/provider/messages/20100930/ReadProviderAdministrativeIndividualMessages.xsd" />
            <xsd:element
                name="readProviderAdministrativeIndividual">
                <xsd:annotation>
                    <xsd:documentation> Read Provider Individual Request element
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            ref="pwmi:qualifiedIdentifier"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element
                name="readProviderAdministrativeIndividualResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            ref="pwmi:readProviderAdministrativeIndividualResult" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message
        name="readProviderAdministrativeIndividualInMsg">
        <wsdl:part name="request" element="tns:readProviderAdministrativeIndividual" />
        <wsdl:part name="productHeader" element="cce:product" />
        <wsdl:part name="timestampHeader" element="cce:timestamp" />
        <wsdl:part name="signatureHeader" element="cce:signature" />
        <wsdl:part name="userHeader" element="cce:user" />
        <!--	hpio: Backward compatible change, added June 2011 release for CSPs. -->	
		<wsdl:part name="hpioHeader" element="cce:hpio"/>
    </wsdl:message>
    <wsdl:message
        name="readProviderAdministrativeIndividualOutMsg">
        <wsdl:part
            name="response"
            element="tns:readProviderAdministrativeIndividualResponse" />
        <wsdl:part
            name="productHeader"
            element="cce:product" />
        <wsdl:part
            name="signatureHeader"
            element="cce:signature" />
    </wsdl:message>
    <wsdl:message
        name="standardErrorMsg">
        <wsdl:part
            name="fault"
            element="cce:serviceMessages" />
    </wsdl:message>
    <wsdl:portType
        name="ProviderReadProviderAdministrativeIndividualPortType">
        <wsdl:operation
            name="readProviderAdministrativeIndividual">
            <wsdl:input
                message="tns:readProviderAdministrativeIndividualInMsg"
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ProviderReadProviderAdministrativeIndividual/3.2.0/ProviderReadProviderAdministrativeIndividualPortType/readProviderAdministrativeIndividualRequest" />
            <wsdl:output
                message="tns:readProviderAdministrativeIndividualOutMsg"
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ProviderReadProviderAdministrativeIndividual/3.2.0/ProviderReadProviderAdministrativeIndividualPortType/readProviderAdministrativeIndividualResponse" />
            <wsdl:fault
                name="standardError"
                message="tns:standardErrorMsg"
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ProviderReadProviderAdministrativeIndividual/3.2.0/ProviderReadProviderAdministrativeIndividualPortType/readProviderAdministrativeIndividual/Fault/standardError" />
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>