wsdls/wsdl/provider/20100930/HI_ProviderManageProviderAdministrativeIndividualInterface-3.2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
===========================================================================
@File:          HI_ProviderManageProviderAdministrativeIndividualInterface-3.2.0.wsdl
@Author:        Medicare Australia
@Version:       3.2.0
@CreatedDate:   2010/09/30
@Release:       3.2.0
@Description:   TECH.SIS.HI.13
===========================================================================
-->
<wsdl:definitions
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
    xmlns:pce="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
    xmlns:pin="http://ns.electronichealth.net.au/hi/xsd/providercore/IndividualName/3.2.0"
    xmlns:ppd="http://ns.electronichealth.net.au/hi/xsd/providercore/PersonalDetails/3.2.0"
    xmlns:pad="http://ns.electronichealth.net.au/hi/xsd/providercore/Address/3.2.0"
    xmlns:pec="http://ns.electronichealth.net.au/hi/xsd/providercore/ElectronicCommunication/3.2.0"
    xmlns:pct="http://ns.electronichealth.net.au/hi/xsd/providercore/Certificate/3.2.0"
    xmlns:pwmi="http://ns.electronichealth.net.au/hi/xsd/providermessages/ManageProviderAdministrativeIndividual/3.2.0"
    xmlns:tns="http://ns.electronichealth.net.au/hi/svc/ProviderManageProviderAdministrativeIndividual/3.2.0"
    targetNamespace="http://ns.electronichealth.net.au/hi/svc/ProviderManageProviderAdministrativeIndividual/3.2.0"
    name="ProviderManageProviderAdministrativeIndividual">
    <wsdl:types>
        <xsd:schema
            targetNamespace="http://ns.electronichealth.net.au/hi/svc/ProviderManageProviderAdministrativeIndividual/3.2.0"
            elementFormDefault="qualified">
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
                schemaLocation="../../../schema/mca/common/20100731/CommonCoreElements.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
                schemaLocation="../../../schema/mca/provider/core/20100930/ProviderCoreElements.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/IndividualName/3.2.0"
                schemaLocation="../../../schema/mca/provider/core/20100930/IndividualName.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/PersonalDetails/3.2.0"
                schemaLocation="../../../schema/mca/provider/core/20100930/PersonalDetails.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Address/3.2.0"
                schemaLocation="../../../schema/mca/provider/core/20100930/Address.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/ElectronicCommunication/3.2.0"
                schemaLocation="../../../schema/mca/provider/core/20100930/ElectronicCommunication.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Certificate/3.2.0"
                schemaLocation="../../../schema/mca/provider/core/20100930/Certificate.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providermessages/ManageProviderAdministrativeIndividual/3.2.0"
                schemaLocation="../../../schema/mca/provider/messages/20100930/ManageProviderAdministrativeIndividualMessages.xsd" />
            <xsd:element
                name="manageProviderAdministrativeIndividual">
                <xsd:annotation>
                    <xsd:documentation> Manage Provider/Administrative
                        Individual Request element</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            ref="pwmi:qualifiedIdentifier"
                            minOccurs="0" />
                        <xsd:element
                            ref="ppd:personalDetails"
                            minOccurs="0" />
                        <xsd:element
                            ref="pin:individualNameRecord"
                            minOccurs="0"
                            maxOccurs="unbounded" />
                        <xsd:element
                            ref="pad:addressRecord"
                            minOccurs="0"
                            maxOccurs="unbounded" />
                        <xsd:element
                            ref="pec:electronicCommunicationRecord"
                            minOccurs="0"
                            maxOccurs="unbounded" />
                        <xsd:element
                            ref="ppd:deathNotification"
                            minOccurs="0" />
                        <xsd:element
                            ref="pct:certificate"
                            minOccurs="0" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element
                name="manageProviderAdministrativeIndividualResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            ref="pwmi:manageProviderAdministrativeIndividualResult" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message
        name="manageProviderAdministrativeIndividualInMsg">
        <wsdl:part name="request" element="tns:manageProviderAdministrativeIndividual" />
        <wsdl:part name="productHeader" element="cce:product" />
        <wsdl:part name="timestampHeader" element="cce:timestamp" />
        <wsdl:part name="signatureHeader" element="cce:signature" />
        <wsdl:part name="userHeader" element="cce:user" />
         <!--	hpio: Backward compatible change, added June 2011 release for CSPs. -->	
		<wsdl:part name="hpioHeader" element="cce:hpio"/>
    </wsdl:message>
    <wsdl:message
        name="manageProviderAdministrativeIndividualOutMsg">
        <wsdl:part
            name="response"
            element="tns:manageProviderAdministrativeIndividualResponse" />
        <wsdl:part
            name="productHeader"
            element="cce:product" />
        <wsdl:part
            name="signatureHeader"
            element="cce:signature" />
    </wsdl:message>
    <wsdl:message
        name="standardErrorMsg">
        <wsdl:part
            name="fault"
            element="cce:serviceMessages" />
    </wsdl:message>
    <wsdl:portType
        name="ProviderManageProviderAdministrativeIndividualPortType">
        <wsdl:operation
            name="manageProviderAdministrativeIndividual">
            <wsdl:input
                message="tns:manageProviderAdministrativeIndividualInMsg"
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ProviderManageProviderAdministrativeIndividual/3.2.0/ProviderManageProviderAdministrativeIndividualPortType/manageProviderAdministrativeIndividualRequest" />
            <wsdl:output
                message="tns:manageProviderAdministrativeIndividualOutMsg"
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ProviderManageProviderAdministrativeIndividual/3.2.0/ProviderManageProviderAdministrativeIndividualPortType/manageProviderAdministrativeIndividualResponse" />
            <wsdl:fault
                name="standardError"
                message="tns:standardErrorMsg"
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ProviderManageProviderAdministrativeIndividual/3.2.0/ProviderManageProviderAdministrativeIndividualPortType/manageProviderAdministrativeIndividual/Fault/standardError" />
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>