wsdls/wsdl/provider/20100930/HI_ProviderSearchHIProviderDirectoryForOrganisationInterface-3.2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
===========================================================================
@File:          HI_ProviderSearchHIProviderDirectoryForOrganisationInterface-3.2.0.wsdl
@Author:        Medicare Australia
@Version:       3.2.0 - Initial version
   		    	2011/06/25 - added backward compatible optional element "hpio" 
	    	 	for Contracted Service Provider usage.  
@CreatedDate:   2010/09/30
@Release:       3.2.0
@Description:   TECH.SIS.HI.18
===========================================================================
-->
<wsdl:definitions
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:pdt="http://ns.electronichealth.net.au/hi/xsd/providercore/ProviderCoreDatatypes/3.2.0"
    xmlns:pce="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
    xmlns:pod="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationDetails/3.2.0"
    xmlns:pon="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationName/3.2.0"
    xmlns:pad="http://ns.electronichealth.net.au/hi/xsd/providercore/Address/3.2.0"
    xmlns:pin="http://ns.electronichealth.net.au/hi/xsd/providercore/IndividualName/3.2.0"
    xmlns:pos="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationService/3.2.0"
    xmlns:pec="http://ns.electronichealth.net.au/hi/xsd/providercore/ElectronicCommunication/3.2.0"
    xmlns:pep="http://ns.electronichealth.net.au/hi/xsd/providercore/EndPoint/3.2.0"
    xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
    xmlns:pwmi="http://ns.electronichealth.net.au/hi/xsd/providermessages/SearchOrganisation/3.2.0"
    xmlns:tns="http://ns.electronichealth.net.au/hi/svc/ProviderSearchHIProviderDirectoryForOrganisation/3.2.0"
    targetNamespace="http://ns.electronichealth.net.au/hi/svc/ProviderSearchHIProviderDirectoryForOrganisation/3.2.0"
    name="ProviderSearchHIProviderDirectoryForOrganisation">
    <wsdl:types>
        <xsd:schema
            targetNamespace="http://ns.electronichealth.net.au/hi/svc/ProviderSearchHIProviderDirectoryForOrganisation/3.2.0"
            elementFormDefault="qualified">
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
                schemaLocation="../../../schema/mca/common/20100731/CommonCoreElements.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationDetails/3.2.0"
                schemaLocation="../../../schema/mca/provider/core/20100930/OrganisationDetails.xsd" />
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/providermessages/SearchOrganisation/3.2.0"
                schemaLocation="../../../schema/mca/provider/messages/20100930/SearchHIProviderDirectoryForOrganisationMessages.xsd" />
            <xsd:element
                name="searchHIProviderDirectoryForOrganisation">
                <xsd:annotation>
                    <xsd:documentation> Search for Provider Organisation Request
                        element</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            ref="pwmi:hpioNumber"
                            minOccurs="0" />
                        <xsd:element
                            ref="pwmi:name"
                            minOccurs="0" />
                        <xsd:element
                            ref="pwmi:organisationType"
                            minOccurs="0" />
                        <xsd:element
                            ref="pwmi:serviceType"
                            minOccurs="0" />
                        <xsd:element
                            ref="pwmi:unitType"
                            minOccurs="0" />
                        <xsd:element
                            ref="pod:organisationDetails"
                            minOccurs="0" />
                        <xsd:element
                            ref="pwmi:australianAddressCriteria"
                            minOccurs="0" />
                        <xsd:element
                            ref="pwmi:internationalAddressCriteria"
                            minOccurs="0" />
                        <xsd:element
                            ref="pwmi:linkSearchType"
                            minOccurs="0" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element
                name="searchHIProviderDirectoryForOrganisationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            ref="pwmi:searchHIProviderDirectoryForOrganisationResult" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
	<wsdl:message name="searchHIProviderDirectoryForOrganisationInMsg">
		<wsdl:part name="request"
			element="tns:searchHIProviderDirectoryForOrganisation" />
		<wsdl:part name="productHeader" element="cce:product" />
		<wsdl:part name="timestampHeader" element="cce:timestamp" />
		<wsdl:part name="signatureHeader" element="cce:signature" />
		<wsdl:part name="userHeader" element="cce:user" />
		<!--hpio: Backward compatible change, added June 2011 release for CSPs.-->
		<wsdl:part name="hpioHeader" element="cce:hpio" />
	</wsdl:message>
    <wsdl:message
        name="searchHIProviderDirectoryForOrganisationOutMsg">
        <wsdl:part
            name="response"
            element="tns:searchHIProviderDirectoryForOrganisationResponse" />
        <wsdl:part
            name="productHeader"
            element="cce:product" />
        <wsdl:part
            name="signatureHeader"
            element="cce:signature" />
    </wsdl:message>
    <wsdl:message
        name="standardErrorMsg">
        <wsdl:part
            name="fault"
            element="cce:serviceMessages" />
    </wsdl:message>
    <wsdl:portType
        name="ProviderSearchHIProviderDirectoryForOrganisationPortType">
        <wsdl:operation
            name="searchHIProviderDirectoryForOrganisation">
            <wsdl:input
                message="tns:searchHIProviderDirectoryForOrganisationInMsg"
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ProviderSearchHIProviderDirectoryForOrganisation/3.2.0/ProviderSearchHIProviderDirectoryForOrganisationPortType/searchHIProviderDirectoryForOrganisationRequest" />
            <wsdl:output
                message="tns:searchHIProviderDirectoryForOrganisationOutMsg"
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ProviderSearchHIProviderDirectoryForOrganisation/3.2.0/ProviderSearchHIProviderDirectoryForOrganisationPortType/searchHIProviderDirectoryForOrganisationResponse" />
            <wsdl:fault
                name="standardError"
                message="tns:standardErrorMsg"
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ProviderSearchHIProviderDirectoryForOrganisation/3.2.0/ProviderSearchHIProviderDirectoryForOrganisationPortType/searchHIProviderDirectoryForOrganisation/Fault/standardError" />
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>