wsdls/schema/mca/provider/messages/20100930/ManageProviderOrganisationMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
=========================================================================== 
@File: ManageProviderOrganisation.xsd 
@Author: Medicare Australia 
@Version: 2010/07/31 
@CreatedDate: 2010/04/15 
@Release: 3B
@Description: This XML Schema contains message elements for Manage Provider/Administrative Individual web service. 
===========================================================================
 -->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://ns.electronichealth.net.au/hi/xsd/providermessages/ManageProviderOrganisation/3.2.0"
    xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/providermessages/ManageProviderOrganisation/3.2.0"
    xmlns:pce="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
    xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
    xmlns:pon="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationName/3.2.0"
    xmlns:pod="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationDetails/3.2.0"
    xmlns:pad="http://ns.electronichealth.net.au/hi/xsd/providercore/Address/3.2.0"
    xmlns:pec="http://ns.electronichealth.net.au/hi/xsd/providercore/ElectronicCommunication/3.2.0"
    xmlns:pct="http://ns.electronichealth.net.au/hi/xsd/providercore/Certificate/3.2.0"
    xmlns:pos="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationService/3.2.0"
    xmlns:pep="http://ns.electronichealth.net.au/hi/xsd/providercore/EndPoint/3.2.0"
    xmlns:plk="http://ns.electronichealth.net.au/hi/xsd/providercore/Link/3.2.0"
    xmlns:pst="http://ns.electronichealth.net.au/hi/xsd/providercore/Status/3.2.0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.1">
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/ProviderCoreElements.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationName/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/OrganisationName.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationDetails/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/OrganisationDetails.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Address/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/Address.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/ElectronicCommunication/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/ElectronicCommunication.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Certificate/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/Certificate.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationService/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/OrganisationService.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/EndPoint/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/Endpoint.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Link/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/Link.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Status/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/Status.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
        schemaLocation="../../../../mca/common/20100731/CommonCoreElements.xsd" />
    <xsd:element
        name="hpioNumber"
        type="pce:HpioNumberType" />
    <xsd:element
        name="manageProviderOrganisation">
        <xsd:annotation>
            <xsd:documentation> Manage Provider/Administrative Organisation
                Request element</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:hpioNumber" minOccurs="0" /> 
                <xsd:element ref="pst:status" minOccurs="0" />
                <xsd:element ref="pod:organisationDetails" minOccurs="0" />
                <xsd:element ref="pon:organisationNameRecord" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="pos:organisationServiceRecord" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="pad:addressRecord" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="pec:electronicCommunicationRecord" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="pep:endpointLocatorServiceRecord" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="plk:linkDetails" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="pct:certificate" minOccurs="0" /> </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element
        name="manageProviderOrganisationResult">
        <xsd:annotation>
            <xsd:documentation> Manage Provider/Administrative Organisation
                Response element</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element
                    name="hpioNumber"
                    type="pce:HpioNumberType" />
                <xsd:element
                    name="status"
                    type="pce:StatusType" />
                <xsd:element
                    name="organisationNameResponses"
                    type="pce:DetailsResponseType"
                    minOccurs="0"
                    maxOccurs="unbounded" />
                <xsd:element
                    name="organisationServiceResponses"
                    type="pce:DetailsResponseType"
                    minOccurs="0"
                    maxOccurs="unbounded" />
                <xsd:element
                    name="addressResponses"
                    type="pce:DetailsResponseType"
                    minOccurs="0"
                    maxOccurs="unbounded" />
                <xsd:element
                    name="electronicCommunicationResponses"
                    type="pce:DetailsResponseType"
                    minOccurs="0"
                    maxOccurs="unbounded" />
                <xsd:element
                    ref="pct:certificateResponse"
                    minOccurs="0" />
                <xsd:element
                    name="endpointLocatorServiceResponses"
                    type="pce:DetailsResponseType"
                    minOccurs="0"
                    maxOccurs="unbounded" />
                <xsd:element
                    ref="cce:serviceMessages"
                    minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>