wsdls/schema/mca/provider/messages/20100930/ManageProviderAdministrativeIndividualMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
    <!--
===========================================================================
@File: ManageProviderAdministrativeIndividual.xsd 
@Author: Medicare Australia 
@Version: 2010/07/31 
@CreatedDate: 2010/04/15 
@Release: 3B
@Description: This XML Schema contains message elements for Manage 
              Provider/Administrative Individual web service.
===========================================================================
    -->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://ns.electronichealth.net.au/hi/xsd/providermessages/ManageProviderAdministrativeIndividual/3.2.0"
    xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/providermessages/ManageProviderAdministrativeIndividual/3.2.0"
    xmlns:pce="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
    xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
    xmlns:pin="http://ns.electronichealth.net.au/hi/xsd/providercore/IndividualName/3.2.0"
    xmlns:ppd="http://ns.electronichealth.net.au/hi/xsd/providercore/PersonalDetails/3.2.0"
    xmlns:pad="http://ns.electronichealth.net.au/hi/xsd/providercore/Address/3.2.0"
    xmlns:pec="http://ns.electronichealth.net.au/hi/xsd/providercore/ElectronicCommunication/3.2.0"
    xmlns:pct="http://ns.electronichealth.net.au/hi/xsd/providercore/Certificate/3.2.0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.1">
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/ProviderCoreElements.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/IndividualName/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/IndividualName.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/PersonalDetails/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/PersonalDetails.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Address/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/Address.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/ElectronicCommunication/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/ElectronicCommunication.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Certificate/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/Certificate.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
        schemaLocation="../../../../mca/common/20100731/CommonCoreElements.xsd" />
    <xsd:element
        name="manageProviderAdministrativeIndividual">
        <xsd:annotation>
            <xsd:documentation> Manage Provider/Administrative Individual
                Request element</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element
                    ref="tns:qualifiedIdentifier"
                    minOccurs="0" />
                <xsd:element
                    ref="ppd:personalDetails"
                    minOccurs="0" />
                <xsd:element
                    ref="pin:individualNameRecord"
                    minOccurs="0"
                    maxOccurs="unbounded" />
                <xsd:element
                    ref="pad:addressRecord"
                    minOccurs="0"
                    maxOccurs="unbounded" />
                <xsd:element
                    ref="pec:electronicCommunicationRecord"
                    minOccurs="0"
                    maxOccurs="unbounded" />
                <xsd:element
                    ref="ppd:deathNotification"
                    minOccurs="0" />
                <xsd:element
                    ref="pct:certificate"
                    minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element
        name="qualifiedIdentifier"
        type="pce:QualifiedIdentifierType" />
    <xsd:element
        name="manageProviderAdministrativeIndividualResult">
        <xsd:annotation>
            <xsd:documentation> Manage Provider/Administrative Individual
                Response element</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element
                    name="qualifiedIdentifier"
                    type="pce:QualifiedIdentifierType" />
                <xsd:element
                    name="status"
                    type="pce:StatusType" />
                <xsd:element
                    name="individualNameResponses"
                    type="pce:DetailsResponseType"
                    minOccurs="0"
                    maxOccurs="unbounded" />
                <xsd:element
                    name="addressResponses"
                    type="pce:DetailsResponseType"
                    minOccurs="0"
                    maxOccurs="unbounded" />
                <xsd:element
                    name="electronicCommunicationResponses"
                    type="pce:DetailsResponseType"
                    minOccurs="0"
                    maxOccurs="unbounded" />
                <xsd:element
                    ref="pct:certificateResponse"
                    minOccurs="0" />
                <xsd:element
                    ref="cce:serviceMessages"
                    minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>