wsdls/schema/mca/provider/messages/20100930/ReadProviderAdministrativeIndividualMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
=========================================================================== 
  @File: ReadProviderIndividualMessages.xsd 
  @Author: Medicare Australia 
  @Version: 2010/07/31 
  @CreatedDate: 2010/04/14 
  @Release: 3B 
  @Description: This XML Schema contains message elements for Read Provider 
  Individual web service. 
=========================================================================== 
-->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://ns.electronichealth.net.au/hi/xsd/providermessages/ReadIndividual/3.2.0"
    xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/providermessages/ReadIndividual/3.2.0"
    xmlns:pce="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
    xmlns:pdt="http://ns.electronichealth.net.au/hi/xsd/providercore/ProviderCoreDatatypes/3.2.0"
    xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
    xmlns:pin="http://ns.electronichealth.net.au/hi/xsd/providercore/IndividualName/3.2.0"
    xmlns:ppd="http://ns.electronichealth.net.au/hi/xsd/providercore/PersonalDetails/3.2.0"
    xmlns:ppt="http://ns.electronichealth.net.au/hi/xsd/providercore/ProviderType/3.2.0"
    xmlns:plt="http://ns.electronichealth.net.au/hi/xsd/providercore/LinkedType/3.2.0"
    xmlns:pad="http://ns.electronichealth.net.au/hi/xsd/providercore/Address/3.2.0"
    xmlns:pds="http://ns.electronichealth.net.au/hi/xsd/providercore/ProviderdirectoryService/3.2.0"
    xmlns:pec="http://ns.electronichealth.net.au/hi/xsd/providercore/ElectronicCommunication/3.2.0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.1">
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/LinkedType/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/LinkedType.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/ProviderCoreElements.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/IndividualName/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/IndividualName.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/PersonalDetails/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/PersonalDetails.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/ProviderType/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/ProviderType.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Address/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/Address.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/ElectronicCommunication/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/ElectronicCommunication.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/ProviderdirectoryService/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/ProviderDirectoryService.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
        schemaLocation="../../../../mca/common/20100731/CommonCoreElements.xsd" />
    <xsd:element
        name="qualifiedIdentifier"
        type="pce:QualifiedIdentifierType" />
    <xsd:element
        name="readProviderAdministrativeIndividual">
        <xsd:annotation>
            <xsd:documentation> Read Provider Individual Request element</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element
                    name="qualifiedIdentifier"
                    type="pce:QualifiedIdentifierType" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element
        name="readProviderAdministrativeIndividualResult">
        <xsd:annotation>
            <xsd:documentation> Read Provider Individual Response element</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element
                    name="qualifiedIdentifier"
                    type="pce:QualifiedIdentifierType" />
                <xsd:element
                    name="status"
                    type="pce:StatusType" />
                <xsd:element
                    ref="ppd:personalDetails" />
                <xsd:element
                    ref="pin:individualNameRecord"
                    maxOccurs="unbounded" />
                <xsd:element
                    ref="pad:addressRecord"
                    maxOccurs="unbounded" />
                <xsd:element
                    ref="pec:electronicCommunicationRecord"
                    maxOccurs="unbounded" />
                <xsd:element
                    ref="ppt:providerTypeRecord"
                    minOccurs="0"
                    maxOccurs="unbounded" />
                <xsd:element
                    name="linkedOrganisations"
                    type="plt:LinkedOrganisationType"
                    minOccurs="0"
                    maxOccurs="unbounded" />
                <xsd:element
                    name="directoryServiceEntries"
                    type="pds:ProviderDirectoryIndividualEntryRecord"
                    minOccurs="0"
                    maxOccurs="unbounded" />
                <xsd:element
                    ref="cce:serviceMessages"
                    minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>