wsdls/schema/mca/provider/messages/20100930/SearchHIProviderDirectoryForIndividualMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
=========================================================================== 
  @File: SearchForProviderIndividualMessages.xsd 
  @Author: Medicare Australia 
  @Version: 2010/09/30
  @CreatedDate: 2009/04/17 
  @Release: 3B 
  @Description: This XML Schema contains message elements for Search For Provider 
  Individual web service. 
=========================================================================== 
-->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://ns.electronichealth.net.au/hi/xsd/providermessages/SearchIndividual/3.2.0"
    xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/providermessages/SearchIndividual/3.2.0"
    xmlns:pad="http://ns.electronichealth.net.au/hi/xsd/providercore/Address/3.2.0"
    xmlns:ppd="http://ns.electronichealth.net.au/hi/xsd/providercore/PersonalDetails/3.2.0"
    xmlns:pin="http://ns.electronichealth.net.au/hi/xsd/providercore/IndividualName/3.2.0"
    xmlns:pce="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
    xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
    xmlns:pos="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationService/3.2.0"
    xmlns:pon="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationName/3.2.0"
    xmlns:cin="http://ns.electronichealth.net.au/hi/xsd/common/IndividualNameCore/3.0"
    xmlns:ppt="http://ns.electronichealth.net.au/hi/xsd/providercore/ProviderType/3.2.0"
    xmlns:pec="http://ns.electronichealth.net.au/hi/xsd/providercore/ElectronicCommunication/3.2.0"
    xmlns:plt="http://ns.electronichealth.net.au/hi/xsd/providercore/LinkedType/3.2.0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.1">
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/ProviderCoreElements.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/IndividualName/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/IndividualName.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/ProviderType/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/ProviderType.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Address/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/Address.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/ElectronicCommunication/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/ElectronicCommunication.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/PersonalDetails/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/PersonalDetails.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
        schemaLocation="../../../../mca/common/20100731/CommonCoreElements.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/LinkedType/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/LinkedType.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationName/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/OrganisationName.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/common/IndividualNameCore/3.0"
        schemaLocation="../../../../mca/common/20100731/IndividualNameCore.xsd" />
    <xsd:element
        name="hpiiNumber"
        type="pce:HpiiNumberType" />
    <xsd:element
        name="providerTypeCode"
        type="ppt:ProviderTypeCode" />
    <xsd:element
        name="providerSpecialty"
        type="ppt:ProviderSpecialtyType" />
    <xsd:element
        name="providerSpecialisation"
        type="ppt:ProviderSpecialisationType" />
    <xsd:element
        name="australianAddressCriteria"
        type="pad:AustralianAddressCriteriaType" />
    <xsd:element
        name="internationalAddressCriteria"
        type="pad:InternationalAddressCriteriaType" />
    <xsd:element
        name="searchHIProviderDirectoryForIndividual">
        <xsd:annotation>
            <xsd:documentation> Search for Provider Individual Request element</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element
                    ref="tns:hpiiNumber"
                    minOccurs="0" />
                <xsd:element
                    ref="cin:familyName"
                    minOccurs="0" />
                <xsd:element
                    ref="cin:givenName"
                    minOccurs="0" />
                <xsd:element
                    ref="cce:sex"
                    minOccurs="0" />
                <xsd:element
                    ref="tns:providerTypeCode"
                    minOccurs="0" />
                <xsd:element
                    ref="tns:providerSpecialty"
                    minOccurs="0" />
                <xsd:element
                    ref="tns:providerSpecialisation"
                    minOccurs="0" />
                <xsd:element
                    ref="tns:australianAddressCriteria"
                    minOccurs="0" />
                <xsd:element
                    ref="tns:internationalAddressCriteria"
                    minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element
        name="searchHIProviderDirectoryForIndividualResult">
        <xsd:annotation>
            <xsd:documentation> Search for Provider Individual Response element</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element
                    name="individualProviderDirectoryEntries"
                    type="tns:IndividualProviderDirectoryEntryType"
                    minOccurs="0"
                    maxOccurs="unbounded" />
                <xsd:element
                    ref="cce:serviceMessages"
                    minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType
        name="IndividualProviderDirectoryEntryType">
        <xsd:sequence>
            <xsd:element
                name="hpiiNumber"
                type="pce:HpiiNumberType" />
            <xsd:element
                ref="ppd:personalDetails"
                minOccurs="0" />
            <xsd:element
                ref="pin:individualName" />
            <xsd:element
                ref="pad:address" />
            <xsd:element
                ref="pec:electronicCommunication"
                minOccurs="0"
                maxOccurs="unbounded" />
            <xsd:element
                ref="ppt:providerType"
                minOccurs="0"
                maxOccurs="unbounded" />
            <xsd:element
                name="linkedOrganisations"
                type="plt:LinkedOrganisationType"
                minOccurs="0"
                maxOccurs="unbounded" />
            <xsd:element
                name="additionalComments"
                type="pce:AdditionalCommentsType"
                minOccurs="0" />
            <xsd:element
                name="priorityNumber"
                type="pce:PriorityNumberType" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>