wsdls/schema/mca/provider/messages/20100930/SearchHIProviderDirectoryForOrganisationMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
=========================================================================== 
  @File: SearchForProviderOrganisationMessagese.xsd 
  @Author: Medicare Australia 
  @Version: 2010/09/30 
  @CreatedDate: 2009/04/17 
  @Release: 3B 
  @Description: This XML Schema contains message elements for Search For Provider 
  Organisation web service. 
=========================================================================== 
-->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://ns.electronichealth.net.au/hi/xsd/providermessages/SearchOrganisation/3.2.0"
    xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/providermessages/SearchOrganisation/3.2.0"
    xmlns:pdt="http://ns.electronichealth.net.au/hi/xsd/providercore/ProviderCoreDatatypes/3.2.0"
    xmlns:pce="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
    xmlns:pod="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationDetails/3.2.0"
    xmlns:pon="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationName/3.2.0"
    xmlns:pad="http://ns.electronichealth.net.au/hi/xsd/providercore/Address/3.2.0"
    xmlns:pin="http://ns.electronichealth.net.au/hi/xsd/providercore/IndividualName/3.2.0"
    xmlns:pos="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationService/3.2.0"
    xmlns:pec="http://ns.electronichealth.net.au/hi/xsd/providercore/ElectronicCommunication/3.2.0"
    xmlns:pep="http://ns.electronichealth.net.au/hi/xsd/providercore/EndPoint/3.2.0"
    xmlns:plt="http://ns.electronichealth.net.au/hi/xsd/providercore/LinkedType/3.2.0"
    xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.1">
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/ProviderCoreElements.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationDetails/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/OrganisationDetails.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Address/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/Address.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationService/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/OrganisationService.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationName/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/OrganisationName.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/ElectronicCommunication/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/ElectronicCommunication.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/EndPoint/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/Endpoint.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/IndividualName/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/IndividualName.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/LinkedType/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/LinkedType.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
        schemaLocation="../../../../mca/common/20100731/CommonCoreElements.xsd" />
    <xsd:element
        name="hpioNumber"
        type="pce:HpioNumberType" />
    <xsd:element
        name="name"
        type="pce:NameType" />
    <xsd:element
        name="organisationType"
        type="pos:OrganisationType" />
    <xsd:element
        name="serviceType"
        type="pos:ServiceType" />
    <xsd:element
        name="unitType"
        type="pos:ServiceUnitType" />
    <xsd:element
        name="australianAddressCriteria"
        type="pad:AustralianAddressCriteriaType" />
    <xsd:element
        name="internationalAddressCriteria"
        type="pad:InternationalAddressCriteriaType" />
    <xsd:element
        name="linkSearchType"
        type="pce:LinkSearchType" />
    <xsd:element
        name="searchHIProviderDirectoryForOrganisation">
        <xsd:annotation>
            <xsd:documentation> Search for Provider Organisation Request element</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element
                    ref="tns:hpioNumber"
                    minOccurs="0" />
                <xsd:element
                    ref="tns:name"
                    minOccurs="0" />
                <xsd:element
                    ref="tns:organisationType"
                    minOccurs="0" />
                <xsd:element
                    ref="tns:serviceType"
                    minOccurs="0" />
                <xsd:element
                    ref="tns:unitType"
                    minOccurs="0" />
                <xsd:element
                    ref="pod:organisationDetails"
                    minOccurs="0" />
                <xsd:element
                    ref="tns:australianAddressCriteria"
                    minOccurs="0" />
                <xsd:element
                    ref="tns:internationalAddressCriteria"
                    minOccurs="0" />
                <xsd:element
                    ref="tns:linkSearchType"
                    minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element
        name="searchHIProviderDirectoryForOrganisationResult">
        <xsd:annotation>
            <xsd:documentation> Search for Provider Organisation Response element</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element
                    name="organisationProviderDirectoryEntries"
                    type="tns:OrganisationProviderDirectoryEntryType"
                    minOccurs="0"
                    maxOccurs="unbounded" />
                <xsd:element
                    ref="cce:serviceMessages"
                    minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType
        name="OrganisationProviderDirectoryEntryType">
        <xsd:sequence>
            <xsd:element
                name="hpioNumber"
                type="pce:HpioNumberType" />
            <xsd:element
                ref="pon:organisationName" />
            <xsd:element
                ref="pod:organisationDetails"
                minOccurs="0" />
            <xsd:element
                ref="pos:organisationService"
                maxOccurs="unbounded" />
            <xsd:element
                ref="pad:address" />
            <xsd:element
                ref="pec:electronicCommunication"
                minOccurs="0"
                maxOccurs="unbounded" />
            <xsd:element
                ref="pep:endpointLocatorService"
                minOccurs="0"
                maxOccurs="unbounded" />
            <xsd:element
                name="linkedProviders"
                type="plt:LinkedProviderType"
                minOccurs="0"
                maxOccurs="unbounded" />
            <xsd:element
                name="linkedOrganisations"
                type="plt:LinkedOrganisationType"
                minOccurs="0"
                maxOccurs="unbounded" />
            <xsd:element
                name="additionalComments"
                type="pce:AdditionalCommentsType"
                minOccurs="0" />
            <xsd:element
                name="priorityNumber"
                type="pce:PriorityNumberType"
                minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>