wsdls/schema/mca/consumer/messages/20111201/CreateVerifiedIHI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ===========================================================================
    @File:          CreateVerifiedIHI.xsd
    @Author:        Medicare Australia
    @Version:       1.0
    @CreatedDate:   2011/09/19
    @UpdatedDate:   2014/05/03 - Add privacyNotification and onlyNameIndicator elements
    @Release:       May 2014 Release
    @Description:   Defines types that describe Create Verified IHI for Newborns requests and responses.
    ===========================================================================
-->
<xsd:schema
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0" 
	xmlns:name="http://ns.electronichealth.net.au/hi/xsd/consumercore/Name/3.0"
	xmlns:ihi="http://ns.electronichealth.net.au/hi/xsd/consumercore/IHI/3.0"
	xmlns:address="http://ns.electronichealth.net.au/hi/xsd/consumercore/Address/3.0" 
	xmlns:cin="http://ns.electronichealth.net.au/hi/xsd/common/IndividualNameCore/3.0"
	xmlns:ec="http://ns.electronichealth.net.au/hi/xsd/consumercore/ElectronicCommunication/3.0"
	xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreElements/3.0"	
	xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/consumermessages/CreateVerifiedIHI/4.0.0" 
	targetNamespace="http://ns.electronichealth.net.au/hi/xsd/consumermessages/CreateVerifiedIHI/4.0.0"
	elementFormDefault="qualified" attributeFormDefault="unqualified">    
    <xsd:annotation>
		<xsd:documentation>
==============================  IMPORTS  =======================================
		</xsd:documentation>
	</xsd:annotation>
	<xsd:import
		namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
		schemaLocation="../../../../mca/common/20100731/CommonCoreElements.xsd">
	</xsd:import>
	<xsd:import 
		namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/Name/3.0" 
		schemaLocation="../../../../mca/consumer/core/20100731/IndividualName.xsd">
	</xsd:import>
	<xsd:import
		namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/IHI/3.0"
		schemaLocation="../../../../mca/consumer/core/20100731/IndividualHealthcareIdentification.xsd">
	</xsd:import>
	<xsd:import
		namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/Address/3.0"
		schemaLocation="../../../../mca/consumer/core/20100731/Address.xsd">
	</xsd:import>
	<xsd:import
		namespace="http://ns.electronichealth.net.au/hi/xsd/common/IndividualNameCore/3.0"
		schemaLocation="../../../../mca/common/20100731/IndividualNameCore.xsd">
	</xsd:import>
	<xsd:import
		namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/ElectronicCommunication/3.0"
		schemaLocation="../../../../mca/consumer/core/20100731/ElectronicCommunication.xsd">
	</xsd:import>
	<xsd:import
		namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreElements/3.0"
		schemaLocation="../../../../mca/consumer/core/20100731/ConsumerCoreElements.xsd">
	</xsd:import>
	<xsd:annotation>
		<xsd:documentation>
============================== COMPLEX TYPES ===================================
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:complexType name="CreateVerifiedIHIType">
			<xsd:sequence>
				<xsd:element ref="ce:dateOfBirth"/>
				<xsd:element ref="ce:dateOfBirthAccuracyIndicator"/>
				<xsd:element ref="ce:sex"/>
				<xsd:element ref="cce:birthPlurality" minOccurs="0"/>
				<xsd:element ref="cce:birthOrder" minOccurs="0"/>
				<xsd:element ref="ce:dateOfDeath" minOccurs="0"/>
				<xsd:element ref="ce:dateOfDeathAccuracyIndicator" minOccurs="0"/>
				<xsd:element ref="cce:sourceOfDeathNotification" minOccurs="0"/>
				<xsd:element ref="ec:electronicCommunication" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="cin:nameTitle" minOccurs="0"/>
				<xsd:element ref="cin:familyName"/>
				<xsd:element ref="cin:givenName" minOccurs="0" maxOccurs="2"/>
				<xsd:element ref="name:onlyNameIndicator" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="cin:nameSuffix" minOccurs="0"/>
				<xsd:element ref="cin:usage"/>
				<xsd:element ref="name:conditionalUse" minOccurs="0"/>
				<xsd:element ref="address:address" minOccurs="1" maxOccurs="1"/> 
				<xsd:element ref="cce:privacyNotification" minOccurs="1" maxOccurs="1" />
			</xsd:sequence>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:documentation>
==============================  ELEMENTS =======================================
		</xsd:documentation>
	</xsd:annotation>    
	<xsd:element name="createVerifiedIHI" type="tns:CreateVerifiedIHIType">
		<xsd:annotation>
			<xsd:documentation>Create Verified IHI Request</xsd:documentation>
		</xsd:annotation>		
	</xsd:element>
		<xsd:element name="createVerifiedIHIResponse">
        <xsd:annotation>
        	<xsd:documentation>Create Verified IHI Response</xsd:documentation>
        </xsd:annotation>   
   		<xsd:complexType>
              <xsd:sequence>
                  <xsd:element ref="tns:createVerifiedIHIResult"/>
              </xsd:sequence>
          </xsd:complexType>  
	</xsd:element>
	
	<xsd:element name="createVerifiedIHIResult" type="tns:CreateVerifiedIHIResultType"/>
	
	<xsd:complexType name="CreateVerifiedIHIResultType">
		<xsd:sequence>
			<xsd:element ref="cce:ihiNumber" minOccurs="0"/>
			<xsd:element ref="cce:ihiRecordStatus" minOccurs="0"/>
			<xsd:element ref="cce:ihiStatus" minOccurs="0"/>
			<xsd:element ref="ce:serviceMessages" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>	
		
		
		
		
	<xsd:annotation>
		<xsd:documentation>
================================================================================
		</xsd:documentation>
	</xsd:annotation>    

	
</xsd:schema>
