wsdls/schema/mca/provider/core/20130401/ProviderCoreElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
===========================================================================
    @File:          ProviderCoreElements.xsd
    @Author:        Medicare Australia
    @Version:       2013/04/01
    @CreatedDate:   2009/04/17
    @Release:       CR77
    @Description:   This XML Schema contains message elements common to Provider based web services.
===========================================================================
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ns.electronichealth.net.au/hi/xsd/providercore/ProviderCoreElements/5.0.0"
	xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/providercore/ProviderCoreElements/5.0.0"
	xmlns:pce="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="1.1">

	<xsd:annotation>
		<xsd:documentation>
			============================== IMPORTS =======================================
		</xsd:documentation>
	</xsd:annotation>

	<xsd:import
		namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
		schemaLocation="../../../../mca/provider/core/20100930/ProviderCoreElements.xsd" />

	<xsd:annotation>
		<xsd:documentation>
			============================== ELEMENTS =======================================
		</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="hpiiNumber" type="pce:HpiiNumberType" />
	<xsd:element name="hpioNumber" type="pce:HpioNumberType" />
	<xsd:element name="status" type="pce:StatusType" />
	
</xsd:schema>   
