wsdls/schema/External/View/PCEHR_ObservationView.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Version 1.0.0 issued 19 February 2013-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://ns.electronichealth.net.au/pcehr/xsd/common/CommonCoreElements/1.0" xmlns:ns2="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/ObservationView/1.0" targetNamespace="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/ObservationView/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="observationView">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="versionNumber" type="xs:string"/>
				<xs:element name="fromDate" type="xs:date"/>
				<xs:element name="toDate" type="xs:date"/>
				<xs:element name="observationType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="HEADCIRCUMFERENCE"/>
							<xs:enumeration value="HEIGHT"/>
							<xs:enumeration value="WEIGHT"/>
							<xs:enumeration value="BMI"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="documentSource">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="PERSONAL"/>
							<xs:enumeration value="PROVIDER"/>
							<xs:enumeration value="ALL"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="referenceData">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="CDC"/>
							<xs:enumeration value="WHO"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
