wsdls/schema/External/View/PCEHR_DiagnosticImagingReportView.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Version issued 20 March 2014-->
<xs:schema xmlns="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/DiagnosticImagingReportView/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:q3="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/b2b/1.0" xmlns:ns1="http://ns.electronichealth.net.au/pcehr/xsd/common/CommonCoreElements/1.0" targetNamespace="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/DiagnosticImagingReportView/1.0" elementFormDefault="qualified">
	<xs:element name="diagnosticImagingReportView">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="versionNumber" type="xs:string"/>
				<xs:element name="fromDate" type="xs:date"/>
				<xs:element name="toDate" type="xs:date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
