wsdls/schema/mca/consumer/core/20100731/ConsumerCoreElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ===========================================================================
    @File:          ConsumerCoreElements.xsd
    @Author:        Medicare Australia, UHI Tower 4
    @Version:       2010/07/31
    @CreatedDate:   2009/12/15
    @UpdatedDate:   2014/05/03 - Add privacy notification simple type
    @Release:       May 2014 Release
    @Description:   This XML Schema contains message elements common to Consumer based webservices.
    ===========================================================================
-->	
<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:cdt="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreDatatypes/3.0" 
	xmlns:ccd="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreDatatypes/3.0"
	targetNamespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreElements/3.0"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
==============================  IMPORTS  =======================================
		</xsd:documentation>
	</xsd:annotation>    
	<xsd:import 
		namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreDatatypes/3.0"
		schemaLocation="ConsumerCoreDatatypes.xsd"></xsd:import>
	<xsd:import 
        namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreDatatypes/3.0" 
        schemaLocation="../../../common/20100731/CommonCoreDatatypes.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
==============================  ELEMENTS =======================================
		</xsd:documentation>
	</xsd:annotation>    
	<xsd:element name="ihiNumber" type="ccd:IHINumberType" />
    <xsd:element name="birthPlurality" type="ccd:BirthPluralityType"></xsd:element>
    <xsd:element name="birthOrder" type="ccd:BirthOrderType"></xsd:element>
    <xsd:element name="sourceOfDeathNotification" type="ccd:SourceOfDeathNotificationType"></xsd:element>
    <xsd:element name="medicareIRN" type="ccd:MedicareIRNType"></xsd:element>
    <xsd:element name="medicareCardNumber" type="ccd:MedicareCardNumberType"></xsd:element>
	<xsd:element name="dvaFileNumber" type="ccd:DVAFileNumberType"></xsd:element>
    <xsd:element name="ihiRecordStatus" type="ccd:IHIRecordStatusType"></xsd:element>
    <xsd:element name="ihiStatus" type="ccd:IHIStatusType"></xsd:element>
    <xsd:element name="history" type="cdt:TrueFalseType"></xsd:element>
    <xsd:element name="privacyNotification" type="xsd:boolean"/>
	<xsd:annotation>
		<xsd:documentation>
================================================================================
		</xsd:documentation>
	</xsd:annotation>
</xsd:schema>