wsdls/schema/mca/consumer/core/20100731/ElectronicCommunication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ===========================================================================
    @File:          ElectronicCommunication.xsd 
    @Author:        Medicare Australia, UHI Tower 4
    @Version:       2010/07/31
    @CreatedDate:   2009/08/05
    @Release:       3
    @Description:   This xsd contains the Consumer Electronic Communication datatypes and elements
    ===========================================================================
-->


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ec="http://ns.electronichealth.net.au/hi/xsd/consumercore/ElectronicCommunication/3.0"
	xmlns:ce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
	xmlns:ecc="http://ns.electronichealth.net.au/hi/xsd/common/ElectronicCommunicationCore/3.0"
	targetNamespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/ElectronicCommunication/3.0"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
==============================  IMPORTS  =======================================
		</xsd:documentation>
	</xsd:annotation>    
    <xsd:import 
		namespace="http://ns.electronichealth.net.au/hi/xsd/common/ElectronicCommunicationCore/3.0"
		schemaLocation="../../../common/20100731/ElectronicCommunicationCore.xsd"></xsd:import>
	<xsd:import 
		namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0" 
		schemaLocation="../../../common/20100731/CommonCoreElements.xsd"></xsd:import>
	<xsd:annotation>
		<xsd:documentation>
============================= ELEMENTS ====================================
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="details" type="ec:DetailsType"/>
	<xsd:element name="electronicCommunication" type="ec:ElectronicCommunicationType" />
	<xsd:annotation>
		<xsd:documentation>
============================= COMPLEX TYPES ====================================
		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="ElectronicCommunicationType">
		<xsd:sequence>
			<xsd:element ref="ecc:medium" />
			<xsd:element ref="ecc:usage" />
			<xsd:element ref="ec:details" />
			<xsd:element ref="ce:preferred" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>
============================= SIMPLE TYPES ====================================
	</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="DetailsType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="80" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
