wsdls/schema/mca/provider/core/20130601/OrganisationDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
===========================================================================
    @File:          OrganisationDetails.xsd
    @Author:        Department of Human Services
    @Version:       2013/06/01
    @CreatedDate:   2009/04/17
    @Release:       CR77
    @Description:   This XML Schema contains elements and data types for Organisations.
===========================================================================
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationDetails/5.1.0" 
	xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationDetails/5.1.0" 
	xmlns:spo="http://ns.electronichealth.net.au/hi/xsd/providermessages/SearchOrganisation/5.0.0"
	xmlns:pce="http://ns.electronichealth.net.au/hi/xsd/providercore/ProviderCoreElements/5.1.0"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">

	<xsd:annotation>
		<xsd:documentation>
			============================== IMPORTS =======================================
		</xsd:documentation>
	</xsd:annotation>

	<xsd:import
		namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/ProviderCoreElements/5.1.0"
		schemaLocation="../../../../mca/provider/core/20130601/ProviderCoreElements.xsd" />
	<xsd:import
		namespace="http://ns.electronichealth.net.au/hi/xsd/providermessages/SearchOrganisation/5.0.0"
		schemaLocation="../../../../mca/provider/messages/20130401/SearchForProviderOrganisationMessages.xsd" />

	<xsd:annotation>
		<xsd:documentation>
			============================== ELEMENTS =======================================
		</xsd:documentation>
	</xsd:annotation>
 
 	<xsd:element name="batchSearchForProviderOrganisationCriteria" type="tns:BatchSearchForProviderOrganisationCriteriaType" />
	<xsd:element name="batchSearchForProviderOrganisationResult" type="tns:BatchSearchForProviderOrganisationResultType" />

	<xsd:annotation>
		<xsd:documentation>
			============================== COMPLEX TYPES ==================================
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:complexType name="BatchSearchForProviderOrganisationCriteriaType">
		<xsd:sequence>
			<xsd:element ref="pce:requestIdentifier" />
			<xsd:element ref="spo:searchForProviderOrganisation" />
		</xsd:sequence>
	</xsd:complexType>
  
	<xsd:complexType name="BatchSearchForProviderOrganisationResultType">
		<xsd:sequence>
			<xsd:element ref="pce:requestIdentifier" />
			<xsd:element ref="spo:searchForProviderOrganisationResult" />
		</xsd:sequence>
	</xsd:complexType>		
  
</xsd:schema>