wsdls/schema/mca/provider/core/20130601/ProviderCoreElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
===========================================================================
    @File:          ProviderCoreElements.xsd
    @Author:        Department of Human Services
    @Version:       2013/06/01
    @CreatedDate:   2009/04/17
    @Release:       CR77
    @Description:   This XML Schema contains message elements common to Provider based web services.
===========================================================================
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ns.electronichealth.net.au/hi/xsd/providercore/ProviderCoreElements/5.1.0"
	xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/providercore/ProviderCoreElements/5.1.0"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="1.1">

	<xsd:annotation>
		<xsd:documentation>
			============================== ELEMENTS =======================================
		</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="requestIdentifier" type="tns:UniqueIdentifierType" />
	<xsd:element name="batchIdentifier" type="tns:UniqueIdentifierType" />
	<xsd:element name="batchStatus" type="tns:BatchStatusType" />
	
	<xsd:annotation>
		<xsd:documentation>
			============================= SIMPLE TYPES ====================================
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:simpleType name="UniqueIdentifierType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="BatchStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RECEIVED">
				<xsd:annotation>
					<xsd:documentation>RECEIVED</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PROCESSING">
				<xsd:annotation>
					<xsd:documentation>PROCESSING</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="COMPLETED">
				<xsd:annotation>
					<xsd:documentation>COMPLETED</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RETRIEVED">
				<xsd:annotation>
					<xsd:documentation>RETRIEVED</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ERROR">
				<xsd:annotation>
					<xsd:documentation>ERROR</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>   
