wsdls/schema/mca/provider/core/20100930/Address.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!--
    =========================================================================== 
    @File: Address.xsd 
    @Author: Medicare Australia 
    @Version: 2010/07/31 
    @CreatedDate: 2009/04/17 
    @Release: 3 
    @Description: This XML Schema contains elements and data types for Address entity.
    ===========================================================================
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  targetNamespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Address/3.2.0"
  xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/providercore/Address/3.2.0" 
  xmlns:pce="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
  xmlns:cac="http://ns.electronichealth.net.au/hi/xsd/common/AddressCore/3.0"
  elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">

  <xsd:annotation>
    <xsd:documentation>
      ============================== IMPORTS =======================================
	</xsd:documentation>
  </xsd:annotation>

  <xsd:import namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0" schemaLocation="../../../../mca/provider/core/20100930/ProviderCoreElements.xsd" />
  <xsd:import namespace="http://ns.electronichealth.net.au/hi/xsd/common/AddressCore/3.0" schemaLocation="../../../../mca/common/20100731/AddressCore.xsd" />

  <xsd:annotation>
    <xsd:documentation>
      ============================== ELEMENTS =======================================
	</xsd:documentation>
  </xsd:annotation>
  
  <xsd:element name="address" type="tns:Address" />
  <xsd:element name="addressRecord" type="tns:AddressRecord" />

  
  
  <xsd:annotation>
    <xsd:documentation>
      ============================== COMPLEX TYPES ==================================
	</xsd:documentation>
  </xsd:annotation>


    <xsd:complexType name="AddressRecord">
    <xsd:complexContent>
      <xsd:extension base="tns:Address">
        <xsd:sequence>
          <xsd:element name="clientRef" type="pce:ClientRefType" minOccurs="0" />
          <xsd:element name="externalIdentifier" type="pce:ExternalIdentifierType" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Address">
    <xsd:sequence>
      <xsd:element name="australianAddress" type="tns:AustralianAddressType" minOccurs="0" />
      <xsd:element name="internationalAddress" type="tns:InternationalAddressType" minOccurs="0" />
      <xsd:element name="addressPurpose" type="tns:AddressPurposeAndDateType"/>
      <xsd:element name="preferred" type="xsd:boolean" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>


  
  <!-- Externally Used Search Criteria Types -->

  <xsd:complexType name="AustralianAddressCriteriaType">
    <xsd:sequence>
      <xsd:element ref="cac:unitGroup" minOccurs="0" />
      <xsd:element ref="cac:levelGroup" minOccurs="0" />
      <xsd:element ref="cac:addressSiteName" minOccurs="0" />
      <xsd:element ref="cac:streetNumber" minOccurs="0" />
      <xsd:element ref="cac:lotNumber" minOccurs="0" />
      <xsd:element ref="cac:streetName" minOccurs="0" />
      <xsd:element ref="cac:streetType" minOccurs="0" />
      <xsd:element ref="cac:streetSuffix" minOccurs="0" />
      <xsd:element ref="cac:postalDeliveryGroup" minOccurs="0" />
      <xsd:element name="unstructuredAddressLine" type="tns:UnstructuredAddressLineType" minOccurs="0" />
      <xsd:element ref="cac:suburb" minOccurs="0" />
      <xsd:element ref="cac:state" />
      <xsd:element ref="cac:postcode" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="InternationalAddressCriteriaType">
    <xsd:sequence>
      <xsd:element ref="cac:internationalAddressLine" />
      <xsd:element ref="cac:internationalStateProvince" />
      <xsd:element ref="cac:internationalPostcode" />
      <xsd:element ref="cac:country" />
    </xsd:sequence>
  </xsd:complexType>

  <!-- Locally Used Types -->
  <xsd:complexType name="AustralianAddressType">
    <xsd:annotation>
      <xsd:documentation>
        An AddressType should not contain both 'addressLine' and 'unstructuredAddressLine' elements.
    </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="cac:unitGroup" minOccurs="0" />
      <xsd:element ref="cac:addressSiteName" minOccurs="0" />
      <xsd:element ref="cac:levelGroup" minOccurs="0" />
      <xsd:element ref="cac:streetNumber" minOccurs="0" />
      <xsd:element ref="cac:lotNumber" minOccurs="0" />
      <xsd:element ref="cac:streetName" minOccurs="0" />
      <xsd:element ref="cac:streetType" minOccurs="0" />
      <xsd:element ref="cac:streetSuffix" minOccurs="0" />
      <xsd:element ref="cac:postalDeliveryGroup" minOccurs="0" />
      <xsd:element name="unstructuredAddressLine" type="tns:UnstructuredAddressLineType" minOccurs="0" />
      <xsd:element ref="cac:suburb" />
      <xsd:element ref="cac:state" />
      <xsd:element ref="cac:postcode" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="InternationalAddressType">
    <xsd:sequence>
      <xsd:element ref="cac:internationalAddressLine" />
      <xsd:element ref="cac:internationalStateProvince" />
      <xsd:element ref="cac:internationalPostcode" />
      <xsd:element ref="cac:country" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="AddressPurposeAndDateType">
    <xsd:sequence>
      <xsd:element ref="cac:purpose" minOccurs="0"  maxOccurs="unbounded" />
      <xsd:element name="startDate" type="pce:DateAndAccuracyType" minOccurs="0"  />
      <xsd:element name="endDate" type="pce:DateAndAccuracyType" minOccurs="0"  />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:annotation>
    <xsd:documentation>
      ============================= SIMPLE TYPES ====================================
	</xsd:documentation>
  </xsd:annotation>

  <xsd:simpleType name="UnstructuredAddressLineType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="120" />
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>