wsdls/schema/mca/provider/core/20100930/ElectronicCommunication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
=========================================================================== 
  @File: ElectronicCommunication.xsd 
  @Author: Medicare Australia 
  @Version: 2010/09/30 
  @CreatedDate: 2009/04/17 @Release: 3b
  @Description: This XML Schema contains elements and data types for Electronic Communication. 
  =========================================================================== -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  targetNamespace="http://ns.electronichealth.net.au/hi/xsd/providercore/ElectronicCommunication/3.2.0"
  xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/providercore/ElectronicCommunication/3.2.0" 
  xmlns:pce="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
  xmlns:cec="http://ns.electronichealth.net.au/hi/xsd/common/ElectronicCommunicationCore/3.0" 
  elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">

  <xsd:annotation>
    <xsd:documentation>
      ============================== IMPORTS =======================================
		</xsd:documentation>
  </xsd:annotation>

  <xsd:import namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0" schemaLocation="../../../../mca/provider/core/20100930/ProviderCoreElements.xsd" />
  <xsd:import namespace="http://ns.electronichealth.net.au/hi/xsd/common/ElectronicCommunicationCore/3.0" schemaLocation="../../../../mca/common/20100731/ElectronicCommunicationCore.xsd" />

  <xsd:annotation>
    <xsd:documentation>
      ============================== ELEMENTS =======================================
		</xsd:documentation>
  </xsd:annotation>
  
  <xsd:element name="electronicCommunication" type="tns:ElectronicCommunication" />
  <xsd:element name="electronicCommunicationRecord" type="tns:ElectronicCommunicationRecord" />
  
  <xsd:annotation>
    <xsd:documentation>
      ============================= COMPLEX TYPES ====================================
		</xsd:documentation>
  </xsd:annotation>
  
  <xsd:complexType name="ElectronicCommunicationRecord">
    <xsd:complexContent>
      <xsd:extension base="tns:ElectronicCommunication">
        <xsd:sequence>
          <xsd:element name="clientRef" type="pce:ClientRefType" minOccurs="0" />
          <xsd:element name="externalIdentifier" type="pce:ExternalIdentifierType" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="ElectronicCommunication">
    <xsd:sequence>
      <xsd:element ref="cec:medium" />
      <xsd:element ref="cec:details" />
      <xsd:element ref="cec:usage" />
      <xsd:element name="preferred" type="xsd:boolean" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>