wsdls/schema/mca/provider/core/20100930/IndividualName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =========================================================================== 
@File: IndividualName.xsd 
@Author: Medicare Australia 
@Version: 2010/07/31 
@CreatedDate: 2009/04/17 
@Release: 3 
@Description: This XML Schema contains elements and data types for Individual Names. 
=========================================================================== -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://ns.electronichealth.net.au/hi/xsd/providercore/IndividualName/3.2.0"
    xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/providercore/IndividualName/3.2.0"
    xmlns:pce="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
    xmlns:cin="http://ns.electronichealth.net.au/hi/xsd/common/IndividualNameCore/3.0"
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/ProviderCoreElements.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/common/IndividualNameCore/3.0"
        schemaLocation="../../../../mca/common/20100731/IndividualNameCore.xsd" />
    <xsd:element name="individualName" type="tns:IndividualName" />
    <xsd:element name="individualNameRecord" type="tns:IndividualNameRecord" />
    <xsd:complexType name="IndividualName">
        <xsd:sequence>
            <xsd:element ref="cin:nameTitle" minOccurs="0"
                maxOccurs="unbounded" />
            <xsd:element ref="cin:givenName" minOccurs="0"
                maxOccurs="unbounded" />
            <xsd:element ref="cin:familyName" />
            <xsd:element ref="cin:nameSuffix" minOccurs="0"
                maxOccurs="unbounded" />
            <xsd:element name="nameUsage" type="tns:NameUsageType" />
            <xsd:element name="preferred" type="xsd:boolean"
                minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IndividualNameRecord">
        <xsd:complexContent>
            <xsd:extension base="tns:IndividualName">
                <xsd:sequence>
                    <xsd:element name="clientRef" type="pce:ClientRefType"
                        minOccurs="0" />
                    <xsd:element name="externalIdentifier" type="pce:ExternalIdentifierType"
                        minOccurs="0" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="NameUsageType">
        <xsd:sequence>
            <xsd:element ref="cin:usage" maxOccurs="unbounded" />
            <xsd:element name="startDate" type="pce:DateAndAccuracyType" />
            <xsd:element name="endDate" type="pce:DateAndAccuracyType"
                minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>