wsdls/schema/mca/provider/core/20100930/LinkedType.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!--
    =========================================================================== 
    @File: LinkedOrganisation.xsd 
    @Author: Medicare Australia 
    @Version: 2010/09/30 
    @CreatedDate: 2010/09/30 
    @Release: 3B 
    @Description: This XML Schema contains elements and data types for Linked Organisation entity.
    ===========================================================================
  -->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://ns.electronichealth.net.au/hi/xsd/providercore/LinkedType/3.2.0"
    xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/providercore/LinkedType/3.2.0"
    xmlns:pad="http://ns.electronichealth.net.au/hi/xsd/providercore/Address/3.2.0"
    xmlns:pin="http://ns.electronichealth.net.au/hi/xsd/providercore/IndividualName/3.2.0"
    xmlns:pce="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.1">
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Address/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/Address.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/IndividualName/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/IndividualName.xsd" />
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/ProviderCoreElements.xsd" />
    <xsd:complexType
        name="LinkedOrganisationType">
        <xsd:sequence>
            <xsd:element
                name="hpioNumber"
                type="pce:HpioNumberType" />
            <xsd:element
                name="name"
                type="pce:NameType" />
            <xsd:element
                ref="pad:address"
                minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType
        name="LinkedProviderType">
        <xsd:sequence>
            <xsd:element
                name="hpiiNumber"
                type="pce:HpiiNumberType" />
            <xsd:element
                name="familyName"
                type="pce:FamilyNameType"
                minOccurs="0" />
            <xsd:element
                name="givenName"
                type="pce:GivenNameType"
                minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType
        name="LinkedIndividualType">
        <xsd:sequence>
            <xsd:element
                name="qualifiedIdentifier"
                type="pce:QualifiedIdentifierType" />
            <xsd:element
                name="role"
                type="pce:RoleType"
                minOccurs="0" />
            <xsd:element
                name="familyName"
                type="pce:FamilyNameType"
                minOccurs="0" />
            <xsd:element
                name="givenName"
                type="pce:GivenNameType"
                minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>