wsdls/schema/mca/provider/core/20100930/Link.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!--
    =========================================================================== 
    @File: Link.xsd 
    @Author: Medicare Australia 
    @Version: 2010/07/31 
    @CreatedDate: 2009/04/17 
    @Release: 3 
    @Description: This XML Schema contains elements and data types for Link entity.
    ===========================================================================
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  targetNamespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Link/3.2.0"
  xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/providercore/Link/3.2.0"
  xmlns:pce="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0" 
  elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">

  <xsd:annotation>
    <xsd:documentation>
      ============================== IMPORTS =======================================
	</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0" schemaLocation="../../../../mca/provider/core/20100930/ProviderCoreElements.xsd"/>
  <xsd:annotation>
    <xsd:documentation>
      ============================== ELEMENTS =======================================
	</xsd:documentation>
  </xsd:annotation>


  <!-- Externally Used Types -->
  <xsd:element name="linkDetails" type="tns:LinkDetailsType" />
  
  
  <xsd:annotation>
    <xsd:documentation>
      ============================== COMPLEX TYPES ==================================
	</xsd:documentation>
  </xsd:annotation>

  <!-- Externally Used Types -->

  <xsd:complexType name="LinkDetailsType">
    <xsd:sequence>
	 <xsd:element name="qualifiedIdentifier" type="pce:QualifiedIdentifierType"/>
	 <xsd:element name="requestType" type="tns:RequestType"/>
     <xsd:element name="linkType" type="xsd:anyURI" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="RequestType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Link">
        <xsd:annotation>
          <xsd:documentation>Link</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Unlink">
        <xsd:annotation>
          <xsd:documentation>Unlink</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>