wsdls/schema/mca/provider/core/20100930/OrganisationName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =========================================================================== 
@File: OrganisationName.xsd 
@Author: Medicare Australia 
@Version: 2010/07/31 
@CreatedDate: 2009/11/26 
@Release: 3B 
@Description: This XML Schema contains elements and data types for Organisations. 
=========================================================================== 
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationName/3.2.0"
    xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/providercore/OrganisationName/3.2.0"
    xmlns:pce="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
    <xsd:annotation>
        <xsd:documentation>=========== IMPORTS ===========</xsd:documentation>
    </xsd:annotation>
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
        schemaLocation="../../../../mca/provider/core/20100930/ProviderCoreElements.xsd" />
    <xsd:annotation>
        <xsd:documentation>=========== ELEMENTS ===========</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="organisationName" type="tns:OrganisationName" />
    <xsd:element name="organisationNameRecord" type="tns:OrganisationNameRecord" />
    <xsd:annotation>
        <xsd:documentation>========= COMPLEX TYPES =========</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType name="OrganisationNameRecord">
        <xsd:complexContent>
            <xsd:extension base="tns:OrganisationName">
                <xsd:sequence>
                    <xsd:element name="clientRef" type="pce:ClientRefType"
                        minOccurs="0" />
                    <xsd:element name="externalIdentifier" type="pce:ExternalIdentifierType"
                        minOccurs="0" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="OrganisationName">
        <xsd:sequence>
            <xsd:element name="name" type="pce:NameType" />
            <xsd:element name="nameUsage" type="tns:NameUsageType" />
            <xsd:element name="preferred" type="xsd:boolean"
                minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NameUsageType">
        <xsd:sequence>
            <xsd:element name="usage" type="tns:UsageType"
                maxOccurs="unbounded" />
            <xsd:element name="startDate" type="pce:DateAndAccuracyType" />
            <xsd:element name="endDate" type="pce:DateAndAccuracyType"
                minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:annotation>
        <xsd:documentation>========= SIMPLE TYPES =========</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType name="UsageType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="U">
                <xsd:annotation>
                    <xsd:documentation>Organisational
                        unit/section/division name</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="S">
                <xsd:annotation>
                    <xsd:documentation>Service location name
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="B">
                <xsd:annotation>
                    <xsd:documentation>Business name</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="L">
                <xsd:annotation>
                    <xsd:documentation>Locally used name
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="A">
                <xsd:annotation>
                    <xsd:documentation>Abbreviated name
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="E">
                <xsd:annotation>
                    <xsd:documentation>Enterprise name
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="X">
                <xsd:annotation>
                    <xsd:documentation>Other</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Y">
                <xsd:annotation>
                    <xsd:documentation>Unknown</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>