wsdls/schema/mca/provider/core/20100930/PersonalDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =========================================================================== 
@File: PersonalDetails.xsd 
@Author: Medicare Australia 
@Version: 2010/07/31 
@CreatedDate: 2009/04/17 
@Release: 3 
@Description: This XML Schema contains elements and data types for Individual PersonalDetailss. 
  =========================================================================== -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://ns.electronichealth.net.au/hi/xsd/providercore/PersonalDetails/3.2.0"
  xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/providercore/PersonalDetails/3.2.0"
  xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
  xmlns:pce="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
  elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">

  <xsd:annotation>
    <xsd:documentation>
      ============================== IMPORTS =======================================
		</xsd:documentation>
  </xsd:annotation>

  <xsd:import namespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0" schemaLocation="../../../../mca/provider/core/20100930/ProviderCoreElements.xsd" />
  <xsd:import namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0" schemaLocation="../../../../mca/common/20100731/CommonCoreElements.xsd" />

  <xsd:annotation>
    <xsd:documentation>
      ============================== ELEMENTS =======================================
		</xsd:documentation>
  </xsd:annotation>
  
  <xsd:element name="personalDetails" type="tns:PersonalDetails" />
  <xsd:element name="deathNotification" type="tns:DeathNotificationType" />

  <xsd:annotation>
    <xsd:documentation>
      ============================== COMPLEX TYPES ==================================
		</xsd:documentation>
  </xsd:annotation>

  <xsd:complexType name="PersonalDetails">
    <xsd:sequence>
      <xsd:element ref="cce:sex" />
      <xsd:element name="dateOfBirth" type="pce:DateAndAccuracyType" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeathNotificationType">
    <xsd:sequence>
      <xsd:element name="dateOfDeath" type="pce:DateAndAccuracyType"/>
      <xsd:element name="sourceOfDeathNotification" type="tns:SourceOfDeathNotificationType"/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:annotation>
    <xsd:documentation>
      ============================= SIMPLE TYPES ====================================
		</xsd:documentation>
  </xsd:annotation>

  <xsd:simpleType name="SourceOfDeathNotificationType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="D">
        <xsd:annotation>
          <xsd:documentation>Official death certificate or death register</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="P">
        <xsd:annotation>
          <xsd:documentation>Health Care Provider</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="R">
        <xsd:annotation>
          <xsd:documentation>Relative</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="T">
        <xsd:annotation>
          <xsd:documentation>Trusted Data Source</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="O">
        <xsd:annotation>
          <xsd:documentation>Other</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="U">
        <xsd:annotation>
          <xsd:documentation>Unknown</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:annotation>
    <xsd:documentation>
      ================================================================================
		</xsd:documentation>
  </xsd:annotation>

</xsd:schema>