wsdls/schema/mca/provider/core/20100930/ProviderCoreElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   ===========================================================================
    @File:          ProviderCoreElements.xsd
    @Author:        Medicare Australia
    @Version:       2010/09/30
    @CreatedDate:   2009/04/17
    @Release:       3B
    @Description:   This XML Schema contains message elements common to Provider based web services.
    ===========================================================================
-->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
    xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/providercore/Elements/3.2.0"
    xmlns:cdt="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreDatatypes/3.0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.1">
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreDatatypes/3.0"
        schemaLocation="../../../../mca/common/20100731/CommonCoreDatatypes.xsd" />
    <xsd:complexType
        name="DateAndAccuracyType">
        <xsd:sequence>
            <xsd:element
                name="date"
                type="xsd:date" />
            <xsd:element
                name="accuracyIndicator"
                type="cdt:DateAccuracyIndicatorType" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType
        name="StatusChangeReasonType">
        <xsd:restriction
            base="xsd:string">
            <xsd:minLength
                value="1" />
            <xsd:maxLength
                value="250" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType
        name="ReferenceSetType">
        <xsd:sequence>
            <xsd:element
                name="referenceCode"
                type="xsd:string" />
            <xsd:element
                name="referenceDescription"
                type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType
        name="ElementNameType">
        <xsd:restriction
            base="xsd:string">
            <xsd:minLength
                value="1" />
            <xsd:maxLength
                value="50" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType
        name="FamilyNameType">
        <xsd:restriction
            base="xsd:string">
            <xsd:minLength
                value="1" />
            <xsd:maxLength
                value="40" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType
        name="GivenNameType">
        <xsd:restriction
            base="xsd:string">
            <xsd:minLength
                value="1" />
            <xsd:maxLength
                value="40" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType
        name="RoleType">
        <xsd:restriction
            base="xsd:string">
            <xsd:minLength
                value="1" />
            <xsd:maxLength
                value="12" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType
        name="DetailsResponseType">
        <xsd:sequence>
            <xsd:element
                name="clientRef"
                type="tns:ClientRefType"
                minOccurs="0" />
            <xsd:element
                name="externalIdentifier"
                type="tns:ExternalIdentifierType" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType
        name="AdditionalCommentsType">
        <xsd:restriction
            base="xsd:string">
            <xsd:minLength
                value="1" />
            <xsd:maxLength
                value="100" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType
        name="PriorityNumberType">
        <xsd:restriction
            base="xsd:int">
            <xsd:minInclusive
                value="1" />
            <xsd:maxInclusive
                value="99" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType
        name="HpioNumberType">
        <xsd:restriction
            base="tns:QualifiedIdentifierType" />
    </xsd:simpleType>
    <xsd:simpleType
        name="HpiiNumberType">
        <xsd:restriction
            base="tns:QualifiedIdentifierType" />
    </xsd:simpleType>
    <xsd:simpleType
        name="PoNumberType">
        <xsd:restriction
            base="tns:QualifiedIdentifierType" />
    </xsd:simpleType>
    <xsd:simpleType
        name="OmrNumberType">
        <xsd:restriction
            base="tns:QualifiedIdentifierType" />
    </xsd:simpleType>
    <xsd:simpleType
        name="QualifiedIdentifierType">
        <xsd:restriction
            base="xsd:anyURI" />
    </xsd:simpleType>
    <xsd:simpleType
        name="RequestType">
        <xsd:restriction
            base="xsd:string">
            <xsd:enumeration
                value="A">
                <xsd:annotation>
                    <xsd:documentation>Add</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration
                value="R">
                <xsd:annotation>
                    <xsd:documentation>Remove</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType
        name="StatusType">
        <xsd:restriction
            base="xsd:string">
            <xsd:minLength
                value="1" />
            <xsd:maxLength
                value="32" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType
        name="TrustedDataSourceIdentifierType">
        <xsd:restriction
            base="xsd:string">
            <xsd:minLength
                value="1" />
            <xsd:maxLength
                value="9" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType
        name="CommentType">
        <xsd:restriction
            base="xsd:string">
            <xsd:minLength
                value="1" />
            <xsd:maxLength
                value="240" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType
        name="ExternalIdentifierType">
        <xsd:restriction
            base="xsd:int" />
    </xsd:simpleType>
    <xsd:simpleType
        name="ClientRefType">
        <xsd:restriction
            base="xsd:string">
            <xsd:minLength
                value="1" />
            <xsd:maxLength
                value="20" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType
        name="OtherEOIType">
        <xsd:restriction
            base="xsd:string">
            <xsd:minLength
                value="1" />
            <xsd:maxLength
                value="20" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType
        name="DistinguishedNameType">
        <xsd:restriction
            base="xsd:string">
            <xsd:minLength
                value="1" />
            <xsd:maxLength
                value="230" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType
        name="NameType">
        <xsd:restriction
            base="xsd:string">
            <xsd:minLength
                value="1" />
            <xsd:maxLength
                value="200" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType
        name="AddressDetailsType">
        <xsd:restriction
            base="xsd:string">
            <xsd:minLength
                value="1" />
            <xsd:maxLength
                value="200" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType
        name="LinkSearchType">
        <xsd:restriction
            base="xsd:string">
            <xsd:minLength
                value="1" />
            <xsd:maxLength
                value="12" />
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>