wsdls/schema/mca/consumer/core/20100930/ConsumerCoreElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ===========================================================================
    @File:          ConsumerCoreElements.xsd
    @Author:        Medicare Australia, UHI Tower 4
    @Version:       2010/09/30
    @CreatedDate:   2010/06/09
    @Release:       3b
    @Description:   This XML Schema contains message elements common to Consumer based webservices.
    ===========================================================================
-->	
<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:cdt="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreDatatypes/3.0" 
	xmlns:ccd="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreDatatypes/3.2.0"
	xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreElements/3.2.0"
	targetNamespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreElements/3.2.0"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
==============================  IMPORTS  =======================================
		</xsd:documentation>
	</xsd:annotation>    
	<xsd:import 
		namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreDatatypes/3.2.0"
		schemaLocation="ConsumerCoreDatatypes.xsd"></xsd:import>
	<xsd:import 
        namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreDatatypes/3.0" 
        schemaLocation="../../../common/20100731/CommonCoreDatatypes.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
==============================  ELEMENTS =======================================
		</xsd:documentation>
	</xsd:annotation>    
	<xsd:element name="ihiNumber" type="ccd:IHINumberType" />
    <xsd:element name="birthPlurality" type="ccd:BirthPluralityType"></xsd:element>
    <xsd:element name="birthOrder" type="ccd:BirthOrderType"></xsd:element>
    <xsd:element name="sourceOfDeathNotification" type="ccd:SourceOfDeathNotificationType"></xsd:element>
    <xsd:element name="medicareIRN" type="ccd:MedicareIRNType"></xsd:element>
    <xsd:element name="medicareCardNumber" type="ccd:MedicareCardNumberType"></xsd:element>
	<xsd:element name="dvaFileNumber" type="ccd:DVAFileNumberType"></xsd:element>
    <xsd:element name="ihiRecordStatus" type="ccd:IHIRecordStatusType"></xsd:element>
    <xsd:element name="ihiStatus" type="ccd:IHIStatusType"></xsd:element>
    <xsd:element name="history" type="cdt:TrueFalseType"></xsd:element>
    <xsd:element name="comment" type="ccd:CommentType"></xsd:element>
    <xsd:element name="ihiNumberStatusGroup" type="cce:IHINumberStatusGroupType"></xsd:element>
	<xsd:annotation>
		<xsd:documentation>
==============================  COMPLEX TYPES ==================================
		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="IHINumberStatusGroupType">
		<xsd:sequence>
			<xsd:element ref="cce:ihiNumber"/>
			<xsd:element ref="cce:ihiRecordStatus"/>
			<xsd:element ref="cce:ihiStatus"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:annotation>
		<xsd:documentation>
================================================================================
		</xsd:documentation>
	</xsd:annotation>
</xsd:schema>