wsdls/schema/mca/common/20100731/AddressCore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ===========================================================================
    @File:          AddressCore.xsd
    @Author:        Medicare Australia, UHI Tower 4
    @Version:       2010/07/31
    @CreatedDate:   2009/12/10
    @Release:       3
    @Description:   This xsd contains the Medicare common address datatypes and elements
    ===========================================================================
-->
<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:cdt="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreDatatypes/3.0"
	xmlns:address="http://ns.electronichealth.net.au/hi/xsd/common/AddressCore/3.0" 
	targetNamespace="http://ns.electronichealth.net.au/hi/xsd/common/AddressCore/3.0"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import 
        namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreDatatypes/3.0" 
        schemaLocation="CommonCoreDatatypes.xsd"/>
	
	<xsd:annotation>
		<xsd:documentation>
============================= ELEMENTS ====================================
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="addressSiteName" type="cdt:AddressSiteNameType"/>
	<xsd:element name="unitGroup" type="address:UnitGroupType"/>
	<xsd:element name="unitType" type="cdt:UnitType"/>
	<xsd:element name="unitNumber" type="cdt:UnitNumberType"/>
	<xsd:element name="levelGroup" type="address:LevelGroupType"/>
	<xsd:element name="levelType" type="cdt:LevelType"/>
	<xsd:element name="levelNumber" type="cdt:LevelNumberType"/>
	<xsd:element name="lotNumber" type="cdt:LotNumberType"/>
	<xsd:element name="streetNumber" type="cdt:StreetNumberType"/>
	<xsd:element name="streetName" type="cdt:StreetNameType"/>
	<xsd:element name="streetType" type="cdt:StreetType"/>
	<xsd:element name="streetSuffix" type="cdt:StreetSuffixType"/>
	<xsd:element name="suburb" type="cdt:SuburbType"/>
	<xsd:element name="postcode" type="cdt:PostcodeType"/>
	<xsd:element name="state" type="cdt:StateType"/>
	<xsd:element name="internationalStateProvince" type="cdt:InternationalStateProvinceType"/>
	<xsd:element name="country" type="cdt:CountryType"/>
	<xsd:element name="internationalPostcode" type="cdt:InternationalPostcodeType"/>
	<xsd:element name="internationalAddressLine" type="cdt:InternationalAddressLineType"/>
	<xsd:element name="postalDeliveryType" type="cdt:PostalDeliveryType"/>
	<xsd:element name="postalDeliveryNumber" type="cdt:PostalDeliveryNumberType"/>
	<xsd:element name="postalDeliveryGroup" type="address:PostalDeliveryGroupType"/>
	<xsd:element name="purpose" type="cdt:AddressPurposeType"/>
	<xsd:annotation>
		<xsd:documentation>
============================= COMPLEX TYPES ====================================
	</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="UnitGroupType">
		<xsd:sequence>
			<xsd:element ref="address:unitType"/>
			<xsd:element minOccurs="0" ref="address:unitNumber"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LevelGroupType">
		<xsd:sequence>
			<xsd:element ref="address:levelType"/>
			<xsd:element minOccurs="0" ref="address:levelNumber"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PostalDeliveryGroupType">
		<xsd:sequence>
			<xsd:element ref="address:postalDeliveryType"/>
			<xsd:element minOccurs="0" ref="address:postalDeliveryNumber"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>
================================================================================
		</xsd:documentation>
	</xsd:annotation>
</xsd:schema>
