wsdls/schema/mca/common/20100731/CommonCoreElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ===========================================================================
    @File:          CommonCoreElements.xsd
    @Author:        Medicare Australia
    @Version:       2010/07/31 - Initial version    		    	
    		    	2011/06/25 - added backward compatible optional element "hpio" 
		    	 	for Contracted Service Provider usage.  
		    	 	Version/target name spaces were not required to be updated for this change.
     
    @CreatedDate:   2010/05/15
    @Release:       3
    @Description:   This xsd contains the common complex and element types for              
                    Medicare Australia
    ===========================================================================
-->
<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:ds="http://www.w3.org/2000/09/xmldsig#"     
    xmlns:ce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0" 
    xmlns:cdt="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreDatatypes/3.0" 
    xmlns:mqi="http://ns.electronichealth.net.au/hi/xsd/common/QualifiedIdentifier/3.0"
    targetNamespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
==============================  IMPORTS  =======================================
		</xsd:documentation>
	</xsd:annotation>    
	<xsd:import 
        namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreDatatypes/3.0" 
        schemaLocation="CommonCoreDatatypes.xsd"/>
	<xsd:import 
        namespace="http://ns.electronichealth.net.au/hi/xsd/common/QualifiedIdentifier/3.0" 
        schemaLocation="CommonQualifiedIdentifier.xsd"/>
	<xsd:import 
		namespace="http://www.w3.org/2000/09/xmldsig#" 
		schemaLocation="../../../w3c/xmldsig-core-schema.xsd"/>

	<xsd:annotation>
		<xsd:documentation>
==============================  ELEMENTS =======================================
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="serviceMessage" type="ce:ServiceMessageType"/>
	<xsd:element name="serviceMessages" type="ce:ServiceMessagesType"/>
	<xsd:element name="preferred" type="cdt:TrueFalseType"/>
	<xsd:element name="startDate" type="xsd:date"/>
	<xsd:element name="endDate" type="xsd:date"/>
	<xsd:element name="dateOfBirth" type="xsd:date"/>
	<xsd:element name="dateOfBirthAccuracyIndicator" type="cdt:DateAccuracyIndicatorType"/>
	<xsd:element name="dateOfDeath" type="xsd:date"/>
    <xsd:element name="dateOfDeathAccuracyIndicator" type="cdt:DateAccuracyIndicatorType"/>
	<xsd:element name="sex" type="cdt:SexType"/>
    <xsd:element name="product" type="ce:ProductType"/>	
	<xsd:element name="signature" type="ce:SignatureContainerType"/>
	<xsd:element name="timestamp" type="ce:TimestampType"/>
	<xsd:element name="user" type="mqi:QualifiedId"/>
	<!--	hpio: Backward compatible change, added June 2011 release for CSPs. -->
	<xsd:element name="hpio" type="mqi:QualifiedId"/>        
    
	<xsd:annotation>
		<xsd:documentation>
==============================  COMPLEX TYPES ==================================
		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="TimestampType">
		<xsd:sequence>
			<xsd:element name="created" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="expires" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="SignatureContainerType">
		<xsd:sequence>
			<xsd:element ref="ds:Signature" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ProductType">
		<xsd:sequence>
			<xsd:element name="vendor" type="mqi:QualifiedId" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="productName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="productVersion" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="platform" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ServiceMessageType">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string" nillable="false"/>
			<xsd:element name="severity" type="cdt:SeverityType" nillable="false"/>
			<xsd:element name="reason" type="xsd:string" nillable="false"/>
			<xsd:element name="details" type="ce:detail" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ServiceMessagesType">
		<xsd:sequence>
			<xsd:element name="highestSeverity" type="cdt:SeverityType"/>
			<xsd:element ref="ce:serviceMessage" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detail">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:annotation>
		<xsd:documentation>
================================================================================
		</xsd:documentation>
	</xsd:annotation>
</xsd:schema>
