wsdls/wsdl/consumer/20100821/HI_ConsumerCreateUnverifiedIHIInterface-3.0.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
===========================================================================
@File:          HI_ConsumerCreateUnverifiedIHIInterface-3.0.2.wsdl
@Author:        Medicare Australia
@Version:       3.0.2 - Initial version
   		    	2011/06/25 - added backward compatible optional element "hpio" 
	    	 	for Contracted Service Provider usage.  
@CreatedDate:   2010/08/12
@Release:       3.0.2
@Description:   
===========================================================================
-->
<wsdl:definitions 
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:ce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0" 
    xmlns:name="http://ns.electronichealth.net.au/hi/xsd/consumercore/Name/3.0"	
    xmlns:ihi="http://ns.electronichealth.net.au/hi/xsd/consumercore/IHI/3.0" 
    xmlns:ec="http://ns.electronichealth.net.au/hi/xsd/consumercore/ElectronicCommunication/3.0"
    xmlns:cin="http://ns.electronichealth.net.au/hi/xsd/common/IndividualNameCore/3.0" 
    xmlns:address="http://ns.electronichealth.net.au/hi/xsd/consumercore/Address/3.0" 
    xmlns:cwm="http://ns.electronichealth.net.au/hi/xsd/consumermessages/CreateUnverifiedIHI/3.0" 
    xmlns:tns="http://ns.electronichealth.net.au/hi/svc/ConsumerCreateUnverifiedIHI/3.0.2" 	
    targetNamespace="http://ns.electronichealth.net.au/hi/svc/ConsumerCreateUnverifiedIHI/3.0.2"
    name="ConsumerCreateUnverifiedIHI">
    <wsdl:types>
        <xsd:schema 
            targetNamespace="http://ns.electronichealth.net.au/hi/svc/ConsumerCreateUnverifiedIHI/3.0.2" 
            elementFormDefault="qualified">
            <xsd:import 
                namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0" 
                schemaLocation="../../../schema/mca/common/20100731/CommonCoreElements.xsd"/>
            <xsd:import 
                namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/Name/3.0" 
                schemaLocation="../../../schema/mca/consumer/core/20100731/IndividualName.xsd"/>
            <xsd:import 
                namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/IHI/3.0" 
                schemaLocation="../../../schema/mca/consumer/core/20100731/IndividualHealthcareIdentification.xsd"/>
            <xsd:import 
                namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/Address/3.0" 
                schemaLocation="../../../schema/mca/consumer/core/20100731/Address.xsd"/>
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/common/IndividualNameCore/3.0"
                schemaLocation="../../../schema/mca/common/20100731/IndividualNameCore.xsd"/>
            <xsd:import 
                namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/ElectronicCommunication/3.0" 
                schemaLocation="../../../schema/mca/consumer/core/20100731/ElectronicCommunication.xsd"/>
            <xsd:import 
                namespace="http://ns.electronichealth.net.au/hi/xsd/consumermessages/CreateUnverifiedIHI/3.0" 
                schemaLocation="../../../schema/mca/consumer/messages/20100731/CreateUnverifiedIHIMessages.xsd"/>
            <xsd:element name="createUnverifiedIHI">
                <xsd:annotation>
                    <xsd:documentation>Create Unverified IHI Request</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="ihi:individualHealthcareIdentity"/>
                        <xsd:element ref="ec:electronicCommunication" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element ref="cin:nameTitle" minOccurs="0"/>
                        <xsd:element ref="cin:familyName"/>
                        <xsd:element ref="cin:givenName" minOccurs="0" maxOccurs="2"/>
                        <xsd:element ref="cin:nameSuffix" minOccurs="0"/>
                        <xsd:element ref="cin:usage"/>
                        <xsd:element ref="name:conditionalUse" minOccurs="0"/>
                        <xsd:element ref="address:address" minOccurs="0" maxOccurs="2"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="createUnverifiedIHIResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="cwm:createUnverifiedIHIResult"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="createUnverifiedIHIInMsg">
        <wsdl:part name="request" element="tns:createUnverifiedIHI"/>
        <wsdl:part name="productHeader" element="ce:product"/>
        <wsdl:part name="timestampHeader" element="ce:timestamp"/>
        <wsdl:part name="signatureHeader" element="ce:signature"/>
        <wsdl:part name="userHeader" element="ce:user"/>	
        <!--	hpio: Backward compatible change, added June 2011 release for CSPs. -->	
		<wsdl:part name="hpioHeader" element="ce:hpio"/>       
        	
    </wsdl:message>
    <wsdl:message name="createUnverifiedIHIOutMsg">
        <wsdl:part name="response" element="tns:createUnverifiedIHIResponse"/>
        <wsdl:part name="productHeader" element="ce:product"/>
        <wsdl:part name="signatureHeader" element="ce:signature"/>		
    </wsdl:message>
    <wsdl:message name="standardErrorMsg">
        <wsdl:part name="fault" element="ce:serviceMessages"/>
    </wsdl:message>
    <wsdl:portType name="ConsumerCreateUnverifiedIHIPortType">
        <wsdl:operation name="createUnverifiedIHI">
            <wsdl:input 
                message="tns:createUnverifiedIHIInMsg" 
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ConsumerCreateUnverifiedIHI/3.0.2/ConsumerCreateUnverifiedIHIPortType/createUnverifiedIHIRequest"/>
            <wsdl:output 
                message="tns:createUnverifiedIHIOutMsg" 
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ConsumerCreateUnverifiedIHI/3.0.2/ConsumerCreateUnverifiedIHIPortType/createUnverifiedIHIResponse"/>
            <wsdl:fault 
                name="standardError" 
                message="tns:standardErrorMsg" 
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ConsumerCreateUnverifiedIHI/3.0.2/ConsumerCreateUnverifiedIHIPortType/createUnverifiedIHI/Fault/standardError"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
