wsdls/wsdl/consumer/20100821/HI_ConsumerResolveProvisionalIHIInterface-3.0.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
===========================================================================
@File:          HI_ConsumerResolveProvisionalIHIInterface-3.0.2.wsdl
@Author:        Medicare Australia
@Version:       3.0.2 - Initial version
   		    	2011/06/25 - added backward compatible optional element "hpio" 
	    	 	for Contracted Service Provider usage.  
@CreatedDate:   2010/08/12
@Release:       3.0.2
@Description:   
===========================================================================
-->
<wsdl:definitions 
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:ce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
    xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreElements/3.0"
    xmlns:address="http://ns.electronichealth.net.au/hi/xsd/consumercore/Address/3.0"
    xmlns:name="http://ns.electronichealth.net.au/hi/xsd/consumercore/Name/3.0"
    xmlns:cin="http://ns.electronichealth.net.au/hi/xsd/common/IndividualNameCore/3.0" 
    xmlns:ec="http://ns.electronichealth.net.au/hi/xsd/consumercore/ElectronicCommunication/3.0"
    xmlns:cwm="http://ns.electronichealth.net.au/hi/xsd/consumermessages/ResolveProvisionalIHI/3.0"
    xmlns:tns="http://ns.electronichealth.net.au/hi/svc/ConsumerResolveProvisionalIHI/3.0.2"
    targetNamespace="http://ns.electronichealth.net.au/hi/svc/ConsumerResolveProvisionalIHI/3.0.2"
    name="ConsumerResolveProvisionalIHI">
    
    <wsdl:types>
        <xsd:schema 
            targetNamespace="http://ns.electronichealth.net.au/hi/svc/ConsumerResolveProvisionalIHI/3.0.2"
            elementFormDefault="qualified">
            <xsd:import 
                namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0" 
                schemaLocation="../../../schema/mca/common/20100731/CommonCoreElements.xsd"/>
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreElements/3.0"
                schemaLocation="../../../schema/mca/consumer/core/20100731/ConsumerCoreElements.xsd"/>
            <xsd:import 
                namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/Address/3.0" 
                schemaLocation="../../../schema/mca/consumer/core/20100731/Address.xsd"/>
            <xsd:import 
                namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/Name/3.0" 
                schemaLocation="../../../schema/mca/consumer/core/20100731/IndividualName.xsd"/>
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/common/IndividualNameCore/3.0"
                schemaLocation="../../../schema/mca/common/20100731/IndividualNameCore.xsd"/>
            <xsd:import 
                namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/ElectronicCommunication/3.0" 
                schemaLocation="../../../schema/mca/consumer/core/20100731/ElectronicCommunication.xsd"/>
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/consumermessages/ResolveProvisionalIHI/3.0"
                schemaLocation="../../../schema/mca/consumer/messages/20100731/ResolveProvisionalIHIMessages.xsd"/>
            <xsd:element name="resolveProvisionalIHI">
                <xsd:annotation>
                    <xsd:documentation>Resolve Provisional IHI - Create Unverified Request</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                		<xsd:element ref="cce:ihiNumber" />
		                <xsd:element ref="ce:dateOfBirth" />
        		        <xsd:element ref="ce:dateOfBirthAccuracyIndicator" />
		                <xsd:element ref="ce:sex"/>
        		        <xsd:element ref="cce:birthPlurality" minOccurs="0" />
                		<xsd:element ref="cce:birthOrder" minOccurs="0" />
		                <xsd:element ref="ce:dateOfDeath" minOccurs="0" />
        		        <xsd:element ref="ce:dateOfDeathAccuracyIndicator" minOccurs="0" />
                		<xsd:element ref="cce:sourceOfDeathNotification" minOccurs="0" />
		                <xsd:element ref="ec:electronicCommunication" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="cin:nameTitle" minOccurs="0"/>
						<xsd:element ref="cin:familyName"/>
						<xsd:element ref="cin:givenName" minOccurs="0" maxOccurs="2"/>
						<xsd:element ref="cin:nameSuffix" minOccurs="0"/>
						<xsd:element ref="cin:usage"/>
						<xsd:element ref="name:conditionalUse" minOccurs="0"/>
        		        <xsd:element ref="address:address" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="resolveProvisionalIHIResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="cwm:resolveProvisionalIHIResult"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="resolveProvisionalIHIInMsg">
        <wsdl:part name="request" element="tns:resolveProvisionalIHI"/>
        <wsdl:part name="productHeader" element="ce:product"/>
        <wsdl:part name="timestampHeader" element="ce:timestamp"/>
        <wsdl:part name="signatureHeader" element="ce:signature"/>
        <wsdl:part name="userHeader" element="ce:user"/>
        <!--	hpio: Backward compatible change, added June 2011 release for CSPs. -->	
		<wsdl:part name="hpioHeader" element="ce:hpio"/>       
        
    </wsdl:message>
    <wsdl:message name="resolveProvisionalIHIOutMsg">
        <wsdl:part name="response" element="tns:resolveProvisionalIHIResponse"/>
        <wsdl:part name="productHeader" element="ce:product"/>
        <wsdl:part name="signatureHeader" element="ce:signature"/>
    </wsdl:message>
    <wsdl:message name="standardErrorMsg">
        <wsdl:part name="fault" element="ce:serviceMessages"/>
    </wsdl:message>
    <wsdl:portType name="ConsumerResolveProvisionalIHIPortType">
        <wsdl:operation name="resolveProvisionalIHI">
            <wsdl:input 
                message="tns:resolveProvisionalIHIInMsg" 
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ConsumerResolveProvisionalIHI/3.0.2/ConsumerResolveProvisionalIHIPortType/resolveProvisionalIHIRequest"/>
            <wsdl:output 
                message="tns:resolveProvisionalIHIOutMsg" 
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ConsumerResolveProvisionalIHI/3.0.2/ConsumerResolveProvisionalIHIPortType/resolveProvisionalIHIResponse"/>
            <wsdl:fault 
                name="standardError" 
                message="tns:standardErrorMsg" 
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ConsumerResolveProvisionalIHI/3.0.2/ConsumerResolveProvisionalIHIPortType/resolveProvisionalIHI/Fault/standardError"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
