wsdls/wsdl/consumer/20100731/HI_ConsumerUpdateProvisionalIHIInterface-3.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
===========================================================================
@File:          HI_ConsumerUpdateProvisionalIHIInterface-3.0.wsdl
@Author:        Medicare Australia
@Version:       2010/07/31 - Initial version
   		    	2011/06/25 - added backward compatible optional element "hpio" 
	    	 	for Contracted Service Provider usage.  
@CreatedDate:   2010/04/23
@Release:       3
@Description:   
===========================================================================
-->
<wsdl:definitions 
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:ce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0" 
    xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreElements/3.0"
    xmlns:cin="http://ns.electronichealth.net.au/hi/xsd/common/IndividualNameCore/3.0" 
    xmlns:cwm="http://ns.electronichealth.net.au/hi/xsd/consumermessages/UpdateProvisionalIHI/3.0" 
    xmlns:tns="http://ns.electronichealth.net.au/hi/svc/ConsumerUpdateProvisionalIHI/3.0"
    targetNamespace="http://ns.electronichealth.net.au/hi/svc/ConsumerUpdateProvisionalIHI/3.0"
    name="ConsumerUpdateProvisionalIHI" >
    <wsdl:types>
        <xsd:schema 
            targetNamespace="http://ns.electronichealth.net.au/hi/svc/ConsumerUpdateProvisionalIHI/3.0" 
            elementFormDefault="qualified">
            <xsd:import 
                namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0" 
                schemaLocation="../../../schema/mca/common/20100731/CommonCoreElements.xsd"/>
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/common/IndividualNameCore/3.0"
                schemaLocation="../../../schema/mca/common/20100731/IndividualNameCore.xsd"/>
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreElements/3.0"
                schemaLocation="../../../schema/mca/consumer/core/20100731/ConsumerCoreElements.xsd"/>
            <xsd:import
                namespace="http://ns.electronichealth.net.au/hi/xsd/consumermessages/UpdateProvisionalIHI/3.0"
                schemaLocation="../../../schema/mca/consumer/messages/20100731/UpdateProvisionalIHIMessages.xsd"/>
            <xsd:element name="updateProvisionalIHI">
                <xsd:annotation>
                    <xsd:documentation>
                        Update Provisional IHI Request
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="cce:ihiNumber"/>
                        <xsd:element ref="cin:familyName"/>
                        <xsd:element ref="cin:givenName" minOccurs="0" />
                        <xsd:element ref="ce:sex"/>
                        <xsd:element ref="ce:dateOfBirth"/>
                        <xsd:element ref="ce:dateOfBirthAccuracyIndicator"/>
                        <xsd:element ref="ce:dateOfDeath" minOccurs="0" />
                        <xsd:element ref="ce:dateOfDeathAccuracyIndicator" minOccurs="0" />
                        <xsd:element ref="cce:sourceOfDeathNotification" minOccurs="0" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateProvisionalIHIResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="cwm:updateProvisionalIHIResult"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="updateProvisionalIHIInMsg">
        <wsdl:part name="request" element="tns:updateProvisionalIHI"/>
        <wsdl:part name="productHeader" element="ce:product"/>
        <wsdl:part name="timestampHeader" element="ce:timestamp"/>
        <wsdl:part name="signatureHeader" element="ce:signature"/>
        <wsdl:part name="userHeader" element="ce:user"/>	
        <!--	hpio: Backward compatible change, added June 2011 release for CSPs. -->	
		<wsdl:part name="hpioHeader" element="ce:hpio"/>          	
    </wsdl:message>
    <wsdl:message name="updateProvisionalIHIOutMsg">
        <wsdl:part name="response" element="tns:updateProvisionalIHIResponse"/>
        <wsdl:part name="productHeader" element="ce:product"/>
        <wsdl:part name="signatureHeader" element="ce:signature"/>		
    </wsdl:message>
    <wsdl:message name="standardErrorMsg">
        <wsdl:part name="fault" element="ce:serviceMessages"/>
    </wsdl:message>
    <wsdl:portType name="ConsumerUpdateProvisionalIHIPortType">
        <wsdl:operation name="updateProvisionalIHI">
            <wsdl:input 
                message="tns:updateProvisionalIHIInMsg" 
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ConsumerUpdateProvisionalIHI/3.0/ConsumerUpdateProvisionalIHIPortType/updateProvisionalIHIRequest"/>
            <wsdl:output 
                message="tns:updateProvisionalIHIOutMsg" 
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ConsumerUpdateProvisionalIHI/3.0/ConsumerUpdateProvisionalIHIPortType/updateProvisionalIHIResponse"/>
            <wsdl:fault 
                name="standardError" 
                message="tns:standardErrorMsg" 
                wsam:Action="http://ns.electronichealth.net.au/hi/svc/ConsumerUpdateProvisionalIHI/3.0/ConsumerUpdateProvisionalIHIPortType/updateProvisionalIHI/Fault/standardError"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>