wsdls/schema/mca/consumer/messages/20100731/CreateProvisionalIHIMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	===========================================================================
	@File:        CreateProvisionalIHIMessages.xsd 
	@Author:      Medicare Australia, UHI Tower 4 
	@Version:     2010/07/31
	@CreatedDate: 2009/12/15 
	@Release:     3
	@Description: IHI-25: This xsd contains the Consumer Create Provisional IHI Request data elements
===========================================================================
-->
<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
	xmlns:cin="http://ns.electronichealth.net.au/hi/xsd/common/IndividualNameCore/3.0"
	xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreElements/3.0"
	xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/consumermessages/CreateProvisionalIHI/3.0"
	targetNamespace="http://ns.electronichealth.net.au/hi/xsd/consumermessages/CreateProvisionalIHI/3.0"	
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
==============================  IMPORTS  =======================================
		</xsd:documentation>
	</xsd:annotation>    
	<xsd:import
		namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
		schemaLocation="../../../common/20100731/CommonCoreElements.xsd">
	</xsd:import>
	<xsd:import
		namespace="http://ns.electronichealth.net.au/hi/xsd/common/IndividualNameCore/3.0"
		schemaLocation="../../../common/20100731/IndividualNameCore.xsd">
	</xsd:import>
	<xsd:import
		namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreElements/3.0"
		schemaLocation="../../core/20100731/ConsumerCoreElements.xsd">
	</xsd:import>
	<xsd:annotation>
		<xsd:documentation>
==============================  ELEMENTS =======================================
		</xsd:documentation>
	</xsd:annotation>    
	<xsd:element name="createProvisionalIHI">
		<xsd:annotation>
			<xsd:documentation>Create Provisional IHI Request</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="cin:familyName"/>
				<xsd:element ref="cin:givenName" minOccurs="0"/>
				<xsd:element ref="ce:sex"/>
				<xsd:element ref="ce:dateOfBirth"/>
				<xsd:element ref="ce:dateOfBirthAccuracyIndicator"/>
				<xsd:element ref="ce:dateOfDeath" minOccurs="0"/>
				<xsd:element ref="ce:dateOfDeathAccuracyIndicator" minOccurs="0"/>
				<xsd:element ref="cce:sourceOfDeathNotification" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="createProvisionalIHIResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:createProvisionalIHIResult"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="createProvisionalIHIResult">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="cce:ihiNumber"/>
				<xsd:element ref="cce:ihiRecordStatus" minOccurs="0"/>
				<xsd:element ref="cce:ihiStatus" minOccurs="0"/>
				<xsd:element ref="ce:serviceMessages" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:annotation>
		<xsd:documentation>
================================================================================
		</xsd:documentation>
	</xsd:annotation>    
</xsd:schema>
