wsdls/schema/mca/consumer/messages/20100731/MergeProvisionalIHIMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ===========================================================================
    @File:          MergeProvisionalIHIMessages.xsd
    @Author:        Medicare Australia, UHI Tower 4
    @Version:       2010/07/31
    @CreatedDate:   2010/04/07
    @Release:       3
    @Description:   IHI-??: This xsd contains the Consumer Resolve Provisional 
                    IHI - Merge Records via B2B request and response data elements
    ===========================================================================
-->
<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
    xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreElements/3.0"
    xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/consumermessages/MergeProvisionalIHI/3.0"
    targetNamespace="http://ns.electronichealth.net.au/hi/xsd/consumermessages/MergeProvisionalIHI/3.0"
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
    <xsd:annotation>
        <xsd:documentation>
==============================  IMPORTS  =======================================
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import 
        namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0" 
        schemaLocation="../../../common/20100731/CommonCoreElements.xsd"/>
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreElements/3.0"
        schemaLocation="../../core/20100731/ConsumerCoreElements.xsd"/>
    <xsd:annotation>
        <xsd:documentation>
==============================  ELEMENTS =======================================
        </xsd:documentation>
    </xsd:annotation>
    <xsd:element name="mergeProvisionalIHI">
        <xsd:annotation>
            <xsd:documentation>Resolve Provisional IHI - Merge Records Request
            	Note:	- the first occurrence of the ihiNumber is the provisional IHI that will be resolved
            			- the second occurrence of the ihiNumber is the IHI that the provisional IHI will be merged with
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="cce:ihiNumber" minOccurs="2" maxOccurs="2" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="mergeProvisionalIHIResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:mergeProvisionalIHIResult"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="mergeProvisionalIHIResult">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="cce:ihiNumber" minOccurs="0"/>
                <xsd:element ref="cce:ihiRecordStatus" minOccurs="0"/>
                <xsd:element ref="cce:ihiStatus" minOccurs="0"/>
                <xsd:element ref="ce:serviceMessages" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:annotation>
        <xsd:documentation>
================================================================================
        </xsd:documentation>
    </xsd:annotation>
</xsd:schema>