wsdls/schema/mca/consumer/messages/20100731/ResolveProvisionalIHIMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ===========================================================================
    @File:          ResolveProvisionalIHIMessages.xsd
    @Author:        Medicare Australia, UHI Tower 4
    @Version:       2010/07/31
    @CreatedDate:   2010/03/24
    @Release:       3
    @Description:   IHI-??: This xsd contains the Consumer Resolve Provisional 
                    IHI - Create Unverified Request data elements
    ===========================================================================
-->
<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
    xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreElements/3.0"
    xmlns:address="http://ns.electronichealth.net.au/hi/xsd/consumercore/Address/3.0"
    xmlns:name="http://ns.electronichealth.net.au/hi/xsd/consumercore/Name/3.0"
	xmlns:cin="http://ns.electronichealth.net.au/hi/xsd/common/IndividualNameCore/3.0" 
    xmlns:ec="http://ns.electronichealth.net.au/hi/xsd/consumercore/ElectronicCommunication/3.0"
    xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/consumermessages/ResolveProvisionalIHI/3.0"
    targetNamespace="http://ns.electronichealth.net.au/hi/xsd/consumermessages/ResolveProvisionalIHI/3.0"
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
    <xsd:annotation>
        <xsd:documentation>
==============================  IMPORTS  =======================================
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import 
        namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0" 
        schemaLocation="../../../common/20100731/CommonCoreElements.xsd"/>
    <xsd:import
        namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreElements/3.0"
        schemaLocation="../../core/20100731/ConsumerCoreElements.xsd"/>
    <xsd:import 
        namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/Address/3.0" 
        schemaLocation="../../core/20100731/Address.xsd"/>
    <xsd:import 
        namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/Name/3.0" 
        schemaLocation="../../core/20100731/IndividualName.xsd"/>
    <xsd:import 
		namespace="http://ns.electronichealth.net.au/hi/xsd/common/IndividualNameCore/3.0"
		schemaLocation="../../../common/20100731/IndividualNameCore.xsd"/>
    <xsd:import 
        namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/ElectronicCommunication/3.0" 
        schemaLocation="../../core/20100731/ElectronicCommunication.xsd"/>
    <xsd:annotation>
        <xsd:documentation>
==============================  ELEMENTS =======================================
        </xsd:documentation>
    </xsd:annotation>
    <xsd:element name="resolveProvisionalIHI">
        <xsd:annotation>
            <xsd:documentation>Resolve Provisional IHI - Create Unverified Request</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="cce:ihiNumber" />
                <xsd:element ref="ce:dateOfBirth" />
                <xsd:element ref="ce:dateOfBirthAccuracyIndicator" />
                <xsd:element ref="ce:sex"/>
                <xsd:element ref="cce:birthPlurality" minOccurs="0" />
                <xsd:element ref="cce:birthOrder" minOccurs="0" />
                <xsd:element ref="ce:dateOfDeath" minOccurs="0" />
                <xsd:element ref="ce:dateOfDeathAccuracyIndicator" minOccurs="0" />
                <xsd:element ref="cce:sourceOfDeathNotification" minOccurs="0" />
                <xsd:element ref="ec:electronicCommunication" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="cin:nameTitle" minOccurs="0"/>
				<xsd:element ref="cin:familyName"/>
				<xsd:element ref="cin:givenName" minOccurs="0" maxOccurs="2"/>
				<xsd:element ref="cin:nameSuffix" minOccurs="0"/>
				<xsd:element ref="cin:usage"/>
				<xsd:element ref="name:conditionalUse" minOccurs="0"/>
                <xsd:element ref="address:address" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="resolveProvisionalIHIResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:resolveProvisionalIHIResult"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="resolveProvisionalIHIResult">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="cce:ihiNumber" minOccurs="0"/>
                <xsd:element ref="cce:ihiRecordStatus" minOccurs="0"/>
                <xsd:element ref="cce:ihiStatus" minOccurs="0"/>
                <xsd:element ref="ce:serviceMessages" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:annotation>
        <xsd:documentation>
================================================================================
        </xsd:documentation>
    </xsd:annotation>
</xsd:schema>