wsdls/schema/mca/consumer/messages/20100731/SearchIHIMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	===========================================================================
	@File:        SearchIHIMessages.xsd 
	@Author:      Medicare Australia, UHI Tower 4
	@Version:     2010/07/31 
	@CreatedDate: 2009/12/15 
		    	  2014/05/03 - Add backward compatible optional unstructured address. 
				  2024/06/01 - Allowed searching via electronicCommunication (mobile/email)	
	@Release:     3
	@Description: IHI-11 & 12: This xsd contains the Consumer Search IHI Request/Response data elements
	===========================================================================
-->
<xsd:schema 

	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0" 
	xmlns:cin="http://ns.electronichealth.net.au/hi/xsd/common/IndividualNameCore/3.0"
	xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreElements/3.0"
	xmlns:address="http://ns.electronichealth.net.au/hi/xsd/consumercore/Address/3.0"
	xmlns:ec="http://ns.electronichealth.net.au/hi/xsd/consumercore/ElectronicCommunication/3.0"
	xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/consumermessages/SearchIHI/3.0"	
	targetNamespace="http://ns.electronichealth.net.au/hi/xsd/consumermessages/SearchIHI/3.0"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
	<xsd:annotation>
		<xsd:documentation>
==============================  IMPORTS  =======================================
		</xsd:documentation>
	</xsd:annotation>
	<xsd:import
		namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreElements/3.0"
		schemaLocation="../../core/20100731/ConsumerCoreElements.xsd"/>
	<xsd:import
		namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/Address/3.0"
		schemaLocation="../../core/20100731/Address.xsd"/>
	<xsd:import
		namespace="http://ns.electronichealth.net.au/hi/xsd/common/IndividualNameCore/3.0"
		schemaLocation="../../../common/20100731/IndividualNameCore.xsd"/>
	<xsd:import
		namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
		schemaLocation="../../../common/20100731/CommonCoreElements.xsd"/>
	<xsd:import 
		namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/ElectronicCommunication/3.0"
		schemaLocation="../../core/20100731/ElectronicCommunication.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
==============================  ELEMENTS =======================================
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="searchIHI">
		<xsd:annotation>
			<xsd:documentation>Search IHI Request</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="cce:ihiNumber" minOccurs="0"/>
				<xsd:element ref="cce:medicareCardNumber" minOccurs="0"/>
				<xsd:element ref="cce:medicareIRN" minOccurs="0"/>
				<xsd:element ref="cce:dvaFileNumber" minOccurs="0"/>
				<!-- 2024/06/01 Add backward compatible optional electronicCommunication-->
				<xsd:element ref="ec:electronicCommunication" minOccurs="0"/>
				<xsd:element ref="ce:dateOfBirth"/>
				<xsd:element ref="ce:sex"/>
				<xsd:element ref="cin:familyName"/>
				<xsd:element ref="cin:givenName" minOccurs="0"/>
				<xsd:element ref="address:australianPostalAddress" minOccurs="0"/>
				<xsd:element ref="address:australianStreetAddress" minOccurs="0"/>
				<xsd:element ref="address:internationalAddress" minOccurs="0"/>
                <!-- 2014/05/03 - Add backward compatible optional unstructured address -->
                <xsd:element ref="address:australianUnstructuredStreetAddress" minOccurs="0"/>
				<xsd:element ref="cce:history" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="searchIHIResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:searchIHIResult"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
		
	<xsd:element name="searchIHIResult">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="cce:ihiNumber" minOccurs="0"/>
				<xsd:element ref="cce:medicareCardNumber" minOccurs="0"/>
				<xsd:element ref="cce:medicareIRN" minOccurs="0"/>
				<xsd:element ref="cce:dvaFileNumber" minOccurs="0"/>
				<xsd:element ref="cce:ihiRecordStatus" minOccurs="0"/>
				<xsd:element ref="cce:ihiStatus" minOccurs="0"/>
				<xsd:element ref="cin:givenName" minOccurs="0"/>
				<xsd:element ref="cin:familyName" minOccurs="0"/>
				<xsd:element ref="ce:dateOfBirth" minOccurs="0"/>
				<xsd:element ref="ce:sex" minOccurs="0"/>
				<xsd:element ref="ce:dateOfBirthAccuracyIndicator" minOccurs="0"/>
				<xsd:element ref="ce:dateOfDeath" minOccurs="0"/>
				<xsd:element ref="ce:dateOfDeathAccuracyIndicator" minOccurs="0"/>
				<xsd:element ref="ce:serviceMessages" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:annotation>
		<xsd:documentation>
================================================================================
		</xsd:documentation>
	</xsd:annotation>

</xsd:schema>
