wsdls/schema/mca/consumer/messages/20100930/UpdateIHIMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ===========================================================================
    @File:          UpdateIHIMessages.xsd
    @Author:        Medicare Australia, UHI Tower 4
    @Version:       2010/09/30
    @CreatedDate:   2010/06/09
    @Release:       3b
    @Description:   IHI-27: This xsd contains the Consumer Update IHI Request data elements
    ===========================================================================
-->
<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ce="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0"
	xmlns:cce="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreElements/3.2.0"
	xmlns:address="http://ns.electronichealth.net.au/hi/xsd/consumercore/Address/3.0"
	xmlns:name="http://ns.electronichealth.net.au/hi/xsd/consumercore/Name/3.2.0"
	xmlns:ec="http://ns.electronichealth.net.au/hi/xsd/consumercore/ElectronicCommunication/3.0"
	xmlns:tns="http://ns.electronichealth.net.au/hi/xsd/consumermessages/UpdateIHI/3.2.0"
	targetNamespace="http://ns.electronichealth.net.au/hi/xsd/consumermessages/UpdateIHI/3.2.0" 
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
	<xsd:annotation>
		<xsd:documentation>
==============================  IMPORTS  =======================================
		</xsd:documentation>
	</xsd:annotation>
	<xsd:import 
		namespace="http://ns.electronichealth.net.au/hi/xsd/common/CommonCoreElements/3.0" 
		schemaLocation="../../../common/20100731/CommonCoreElements.xsd"/>
	<xsd:import
		namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/ConsumerCoreElements/3.2.0"
		schemaLocation="../../core/20100930/ConsumerCoreElements.xsd"/>
    <xsd:import 
		namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/Address/3.0" 
		schemaLocation="../../core/20100731/Address.xsd"/>
    <xsd:import 
		namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/Name/3.2.0" 
		schemaLocation="../../core/20100930/IndividualName.xsd"/>
    <xsd:import 
		namespace="http://ns.electronichealth.net.au/hi/xsd/consumercore/ElectronicCommunication/3.0" 
		schemaLocation="../../core/20100731/ElectronicCommunication.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
==============================  ELEMENTS =======================================
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="updateIHI">
		<xsd:annotation>
			<xsd:documentation>Update IHI Request</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="cce:ihiNumber"/>
				<xsd:element ref="ce:dateOfBirth" minOccurs="0" />
				<xsd:element ref="ce:dateOfBirthAccuracyIndicator" minOccurs="0" />
				<xsd:element ref="ce:sex"/>
				<xsd:element ref="cce:birthPlurality" minOccurs="0" />
				<xsd:element ref="cce:birthOrder" minOccurs="0" />
				<xsd:element ref="ce:dateOfDeath" minOccurs="0" />
				<xsd:element ref="ce:dateOfDeathAccuracyIndicator" minOccurs="0" />
				<xsd:element ref="cce:sourceOfDeathNotification" minOccurs="0" />
                <xsd:element ref="ec:electronicCommunication" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="name:name" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="name:nameUpdateGroup" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="address:address" minOccurs="0" maxOccurs="2"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="updateIHIResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:updateIHIResult"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>		
	<xsd:element name="updateIHIResult">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="cce:ihiNumber" minOccurs="0"/>
				<xsd:element ref="cce:ihiRecordStatus" minOccurs="0"/>
				<xsd:element ref="cce:ihiStatus" minOccurs="0"/>
				<xsd:element ref="ce:serviceMessages" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
	<xsd:annotation>
		<xsd:documentation>
================================================================================
		</xsd:documentation>
	</xsd:annotation>
</xsd:schema>
