wsdls/schema/External/PCEHR_GetTemplate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Version 1.0.1 issued 17 April 2012-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://ns.electronichealth.net.au/pcehr/xsd/common/CommonCoreElements/1.0" xmlns:ns2="http://ns.electronichealth.net.au/tplt/xsd/interfaces/GetTemplate/1.0" xmlns:ns3="http://ns.electronichealth.net.au/tplt/xsd/common/TemplatesCoreElements/1.0" targetNamespace="http://ns.electronichealth.net.au/tplt/xsd/interfaces/GetTemplate/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://ns.electronichealth.net.au/pcehr/xsd/common/CommonCoreElements/1.0" schemaLocation="../Common/PCEHR_CommonTypes.xsd"/>
	<xs:import namespace="http://ns.electronichealth.net.au/tplt/xsd/common/TemplatesCoreElements/1.0" schemaLocation="../Common/PCEHR_TemplatesTypes.xsd"/>
	<xs:element name="getTemplate">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="templateID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="serviceRequestorOption">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="100"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getTemplateResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="responseStatus" type="ns1:responseStatusType"/>
				<xs:element name="template" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="templateMetadata" type="ns3:templateMetadataType"/>
							<xs:element name="usageMetadata" type="ns3:templateUsageMetadataType" minOccurs="0"/>
							<xs:element name="package">
								<xs:simpleType>
									<xs:restriction base="xs:base64Binary"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="persistInCacheExpiry" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
