wsdls/schema/External/PCEHR_GainPCEHRAccess.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Version 1.0.1 issued 17 April 2012-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://ns.electronichealth.net.au/pcehr/xsd/common/CommonCoreElements/1.0" xmlns:ns2="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/PCEHRProfile/1.0" targetNamespace="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/PCEHRProfile/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://ns.electronichealth.net.au/pcehr/xsd/common/CommonCoreElements/1.0" schemaLocation="../Common/PCEHR_CommonTypes.xsd"/>
	<xs:element name="gainPCEHRAccess">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PCEHRRecord">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="authorisationDetails" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="accessType">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="AccessCode"/>
													<xs:enumeration value="EmergencyAccess"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="accessCode" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="individual" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ns1:medicareCardNumber" minOccurs="0"/>
										<xs:element ref="ns1:medicareIRN" minOccurs="0"/>
										<xs:element ref="ns1:dvaFileNumber" minOccurs="0"/>
										<xs:element ref="ns1:militaryHealthNumber" minOccurs="0"/>
										<xs:element name="dateOfBirth" type="xs:date"/>
										<xs:element ref="ns1:sex"/>
										<xs:element name="name" type="ns1:nameType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="gainPCEHRAccessResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="responseStatus" type="ns1:responseStatusType"/>
				<xs:element name="individual" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:ihiNumber"/>
							<xs:element ref="ns1:medicareCardNumber" minOccurs="0"/>
							<xs:element ref="ns1:medicareIRN" minOccurs="0"/>
							<xs:element ref="ns1:dvaFileNumber" minOccurs="0"/>
							<xs:element ref="ns1:militaryHealthNumber" minOccurs="0"/>
							<xs:element name="ihiRecordStatus" type="ns1:recordStatusType"/>
							<xs:element name="ihiStatus" type="ns1:statusType"/>
							<xs:element name="dateOfBirth" type="xs:date"/>
							<xs:element ref="ns1:dateAccuracyIndicatorType"/>
							<xs:element ref="ns1:sex"/>
							<xs:element name="name" type="ns1:nameType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
