wsdls/schema/External/PCEHR_RemoveDocument.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Version 1.0.1 issued 17 April 2012-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://ns.electronichealth.net.au/pcehr/xsd/common/CommonCoreElements/1.0" xmlns:ns2="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/RemoveDocument/1.0" targetNamespace="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/RemoveDocument/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://ns.electronichealth.net.au/pcehr/xsd/common/CommonCoreElements/1.0" schemaLocation="../Common/PCEHR_CommonTypes.xsd"/>
	<xs:element name="removeDocument">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="documentID" type="xs:string"/>
				<xs:element name="reasonForRemoval">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Withdrawn"/>
							<xs:enumeration value="ElectToRemove"/>
							<xs:enumeration value="IncorrectIdentity"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="removeDocumentResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="responseStatus" type="ns1:responseStatusType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
