wsdls/schema/External/rs.xsd

<!-- $Header: /lafrz/jw1_top/CVS/hc/htb_lib/build/build_files/wsdl/ihe_xds/rs.xsd,v 1.1 2009/11/12 11:15:14 meswaran Exp $ --><schema targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:rim="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" xmlns:tns="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0">
  <annotation>
    <documentation xml:lang="en">The schema for OASIS ebXML Registry Services
    </documentation>
  </annotation>
  <import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" schemaLocation="rim.xsd"/>
  <complexType name="RegistryRequestType">
    <annotation>
      <documentation xml:lang="en">Base type for all ebXML Registry requests
      </documentation>
    </annotation>
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="RequestSlotList" type="rim:SlotListType"/>
    </sequence>
    <attribute name="id" type="anyURI" use="optional"/>
    <attribute name="comment" type="string" use="optional"/>
  </complexType>
  <element name="RegistryRequest" type="tns:RegistryRequestType"/>
  <element name="RegistryErrorList">
    <annotation>
      <documentation xml:lang="en">The RegistryErrorList is derived from the ErrorList
        element from the ebXML Message Service Specification</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" ref="tns:RegistryError"/>
      </sequence>
      <attribute name="highestSeverity" type="rim:referenceURI" use="optional"/>
    </complexType>
  </element>
  <element name="RegistryError">
    <complexType>
      <simpleContent>
        <extension base="string">
          <attribute name="codeContext" type="string" use="required"/>
          <attribute name="errorCode" type="string" use="required"/>
          <attribute default="urn:oasis:names:tc:ebxml-regrep:ErrorSeverityType:Error" name="severity" type="rim:referenceURI"/>
          <attribute name="location" type="string" use="optional"/>
        </extension>
      </simpleContent>
    </complexType>
  </element>
  <complexType name="RegistryResponseType">
    <annotation>
      <documentation xml:lang="en">Base type for all ebXML Registry responses
      </documentation>
    </annotation>
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="ResponseSlotList" type="rim:SlotListType"/>
      <element minOccurs="0" ref="tns:RegistryErrorList"/>
    </sequence>
    <attribute name="status" type="rim:referenceURI" use="required"/>
    <attribute name="requestId" type="anyURI" use="optional"/>
  </complexType>
  <element name="RegistryResponse" type="tns:RegistryResponseType"/>
</schema>