wsdls/schema/External/xsd_1.xsd

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><xs:schema targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" elementFormDefault="qualified" version="1.0" xmlns:tns="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:ns1="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!--<xs:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" schemaLocation="http://ehrdevpitssd01.hosting.telstra.com:7777/HTBPCEHRViewWS/HTBPCEHRViewWS?xsd=2"/>-->
	<xs:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" schemaLocation="rim.xsd"/>
	<xs:element name="RegistryError">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="codeContext" type="xs:string" use="required"/>
					<xs:attribute name="errorCode" type="xs:string" use="required"/>
					<xs:attribute name="severity" type="xs:string"/>
					<xs:attribute name="location" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegistryErrorList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:RegistryError" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="highestSeverity" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="RegistryResponseType">
		<xs:sequence>
			<xs:element name="ResponseSlotList" type="ns1:SlotListType" minOccurs="0"/>
			<xs:element ref="tns:RegistryErrorList" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="status" type="xs:string" use="required"/>
		<xs:attribute name="requestId" type="xs:anyURI"/>
	</xs:complexType>
</xs:schema>