wsdls/wsdl/External/B2B_DocumentRegistry.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Version 1.1 issued 17 April 2012-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:pcehr_b2b="http://ns.electronichealth.net.au/pcehr/xsd/common/CommonCoreElements/1.0" name="DocumentRegistry" targetNamespace="urn:ihe:iti:xds-b:2007">
	<documentation>IHE XDS.b Document Registry</documentation>
	<types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="../../schema/External/query.xsd"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="../../schema/External/rs.xsd"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="../../schema/External/lcm.xsd"/>
		</xsd:schema>
		<!-- While no elements are directly used from this schema in the WSDL, it needs to be present here in order for
		code generating toolkits to work properly -->
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://ns.electronichealth.net.au/pcehr/xsd/common/CommonCoreElements/1.0">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="../../schema/Common/PCEHR_CommonTypes.xsd"/>
		</xsd:schema>
	</types>
	<message name="RegistryStoredQuery_Message">
		<documentation>Registry Stored Query</documentation>
		<part name="timestampHeader" element="pcehr_b2b:timestamp"/>
		<part name="signatureHeader" element="pcehr_b2b:signature"/>
		<part name="PCEHRHeader" element="pcehr_b2b:PCEHRHeader"/>
		<part name="parameters" element="query:AdhocQueryRequest"/>
	</message>
	<message name="RegistryStoredQueryResponse_Message">
		<documentation>Registry Stored Query Response</documentation>
		<part name="signatureHeader" element="pcehr_b2b:signature"/>
		<part name="parameters" element="query:AdhocQueryResponse"/>
	</message>
	<message name="RegisterDocumentSet-b_Message">
		<documentation>Register Document Set - b</documentation>
		<part name="timestampHeader" element="pcehr_b2b:timestamp"/>
		<part name="signatureHeader" element="pcehr_b2b:signature"/>
		<part name="PCEHRHeader" element="pcehr_b2b:PCEHRHeader"/>
		<part name="parameters" element="lcm:SubmitObjectsRequest"/>
	</message>
	<message name="RegisterDocumentSet-bResponse_Message">
		<documentation>Register Document Set - b Response</documentation>
		<part name="signatureHeader" element="pcehr_b2b:signature"/>
		<part name="parameters" element="rs:RegistryResponse"/>
	</message>
	<portType name="DocumentRegistry_PortType">
		<operation name="DocumentRegistry_RegisterDocumentSet-b">
			<input message="ihe:RegisterDocumentSet-b_Message" wsaw:Action="urn:ihe:iti:2007:RegisterDocumentSet-b"/>
			<output message="ihe:RegisterDocumentSet-bResponse_Message" wsaw:Action="urn:ihe:iti:2007:RegisterDocumentSet-bResponse"/>
		</operation>
		<operation name="DocumentRegistry_RegistryStoredQuery">
			<input message="ihe:RegistryStoredQuery_Message" wsaw:Action="urn:ihe:iti:2007:RegistryStoredQuery"/>
			<output message="ihe:RegistryStoredQueryResponse_Message" wsaw:Action="urn:ihe:iti:2007:RegistryStoredQueryResponse"/>
		</operation>
	</portType>
	<binding name="DocumentRegistry_Binding_Soap12" type="ihe:DocumentRegistry_PortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsp:PolicyReference URI="#AddressingPolicy"/>
		<wsp:PolicyReference URI="#TlsPolicy"/>
		<operation name="DocumentRegistry_RegisterDocumentSet-b">
			<soap12:operation soapActionRequired="false" style="document"/>
			<input>
				<soap12:header message="ihe:RegisterDocumentSet-b_Message" part="timestampHeader" use="literal"/>
				<soap12:header message="ihe:RegisterDocumentSet-b_Message" part="signatureHeader" use="literal"/>
				<soap12:header message="ihe:RegisterDocumentSet-b_Message" part="PCEHRHeader" use="literal"/>
				<soap12:body parts="parameters" use="literal"/>
			</input>
			<output>
				<soap12:header message="ihe:RegisterDocumentSet-bResponse_Message" part="signatureHeader" use="literal"/>
				<soap12:body parts="parameters" use="literal"/>
			</output>
		</operation>
		<operation name="DocumentRegistry_RegistryStoredQuery">
			<soap12:operation soapActionRequired="false" style="document"/>
			<input>
				<soap12:header message="ihe:RegistryStoredQuery_Message" part="timestampHeader" use="literal"/>
				<soap12:header message="ihe:RegistryStoredQuery_Message" part="signatureHeader" use="literal"/>
				<soap12:header message="ihe:RegistryStoredQuery_Message" part="PCEHRHeader" use="literal"/>
				<soap12:body parts="parameters" use="literal"/>
			</input>
			<output>
				<soap12:header message="ihe:RegistryStoredQueryResponse_Message" part="signatureHeader" use="literal"/>
				<soap12:body parts="parameters" use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="DocumentRegistry_Service">
		<port name="DocumentRegistry_Port_Soap12" binding="ihe:DocumentRegistry_Binding_Soap12">
			<soap12:address location="http://servicelocation/DocumentRegistry_Service"/>
		</port>
	</service>
	<wsp:Policy xml:id="AddressingPolicy">
		<wsam:Addressing/>
	</wsp:Policy>
	<wsp:Policy xml:id="TlsPolicy">
		<sp:TransportBinding>
			<wsp:Policy>
				<sp:TransportToken>
					<wsp:Policy>
						<sp:HttpsToken>
							<wsp:Policy>
								<sp:RequireClientCertificate/>
							</wsp:Policy>
						</sp:HttpsToken>
					</wsp:Policy>
				</sp:TransportToken>
			</wsp:Policy>
		</sp:TransportBinding>
	</wsp:Policy>
</definitions>
