wsdls/wsdl/External/B2B_PCEHRProfileInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Version 1.1 issued 17 April 2012-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/PCEHRProfile/1.0" xmlns:tns="http://ns.electronichealth.net.au/wsp/xsd/StandardError/2010" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:ns4="http://ns.electronichealth.net.au/pcehr/xsd/common/CommonCoreElements/1.0" xmlns:pcehr_b2b="http://ns.electronichealth.net.au/pcehr/b2b/svc/PCEHRProfile/1.1" xmlns:sig="http://www.w3.org/2000/09/xmldsig#" name="PCEHRProfile" targetNamespace="http://ns.electronichealth.net.au/pcehr/b2b/svc/PCEHRProfile/1.1">
	<wsdl:types>
		<xsd:schema targetNamespace="http://ns.electronichealth.net.au/pcehr/b2b/svc/PCEHRProfile/1.1" elementFormDefault="qualified">
			<xsd:import namespace="http://ns.electronichealth.net.au/pcehr/xsd/common/CommonCoreElements/1.0" schemaLocation="../../schema/Common/PCEHR_CommonTypes.xsd"/>
			<xsd:import namespace="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/PCEHRProfile/1.0" schemaLocation="../../schema/External/PCEHR_DoesPCEHRExist.xsd"/>
			<xsd:import namespace="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/PCEHRProfile/1.0" schemaLocation="../../schema/External/PCEHR_GainPCEHRAccess.xsd"/>
			<xsd:import namespace="http://ns.electronichealth.net.au/wsp/xsd/StandardError/2010" schemaLocation="../../schema/Common/wsp-StandardError-2010.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="headerMsg">
		<wsdl:part name="timestampHeader" element="ns4:timestamp"/>
		<wsdl:part name="signatureHeader" element="ns4:signature"/>
		<wsdl:part name="PCEHRHeader" element="ns4:PCEHRHeader"/>
	</wsdl:message>
	<wsdl:message name="doesPCEHRExistInMsg">
		<wsdl:part name="parameters" element="ns2:doesPCEHRExist"/>
	</wsdl:message>
	<wsdl:message name="doesPCEHRExistOutMsg">
		<wsdl:part name="parameters" element="ns2:doesPCEHRExistResponse"/>
	</wsdl:message>
	<wsdl:message name="gainPCEHRAccessInMsg">
		<wsdl:part name="parameters" element="ns2:gainPCEHRAccess"/>
	</wsdl:message>
	<wsdl:message name="gainPCEHRAccessOutMsg">
		<wsdl:part name="parameters" element="ns2:gainPCEHRAccessResponse"/>
	</wsdl:message>
	<wsdl:message name="standardErrorMsg">
		<wsdl:part name="parameters" element="tns:standardError"/>
	</wsdl:message>
	<wsdl:portType name="PCEHRProfilePortType">
		<wsdl:operation name="doesPCEHRExist" parameterOrder="parameters">
			<wsdl:input message="pcehr_b2b:doesPCEHRExistInMsg" wsam:Action="http://ns.electronichealth.net.au/pcehr/svc/PCEHRProfile/1.1/PCEHRProfilePortType/doesPCEHRExistRequest"/>
			<wsdl:output message="pcehr_b2b:doesPCEHRExistOutMsg" wsam:Action="http://ns.electronichealth.net.au/pcehr/svc/PCEHRProfile/1.1/PCEHRProfilePortType/doesPCEHRExistResponse"/>
			<wsdl:fault name="standardError" message="pcehr_b2b:standardErrorMsg" wsam:Action="http://ns.electronichealth.net.au/pcehr/svc/PCEHRProfile/1.1/PCEHRProfilePortType/Fault/standardError"/>
		</wsdl:operation>
		<wsdl:operation name="gainPCEHRAccess" parameterOrder="parameters">
			<wsdl:input message="pcehr_b2b:gainPCEHRAccessInMsg" wsam:Action="http://ns.electronichealth.net.au/pcehr/svc/PCEHRProfile/1.1/PCEHRProfilePortType/gainPCEHRAccessRequest"/>
			<wsdl:output message="pcehr_b2b:gainPCEHRAccessOutMsg" wsam:Action="http://ns.electronichealth.net.au/pcehr/svc/PCEHRProfile/1.1/PCEHRProfilePortType/gainPCEHRAccessResponse"/>
			<wsdl:fault name="standardError" message="pcehr_b2b:standardErrorMsg" wsam:Action="http://ns.electronichealth.net.au/pcehr/svc/PCEHRProfile/1.1/PCEHRProfilePortType/Fault/standardError"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
